

$primary-color : $black;
$primary-color-inverted : $white;

$secondary-color-light  : $grey-light;
$secondary-color-dark   : $grey;

@mixin headerskin($skin-overlay-color, $text-color) {

  $primary-color           : $text-color;
  $background-color        : $skin-overlay-color;
  $primary-color-inverted  : invert($primary-color);
  $secondary-color-light   : $grey;
  $secondary-color: null;
   @if ($primary-color == $white) {
     $secondary-color : $grey-light;
   }
     @else {
       $secondary-color : $grey-dark;
     }

/* overlays skin */
  .overlay {
    background: rgba($background-color, 0.98);
    color: $primary-color;
    a { color: $secondary-color-light; }
    a:hover { color: $primary-color; }
    .nav__container {
      nav {
        .primary-nav__menu > li { border-bottom: 0.5px solid rgba($secondary-color-light, 0.25); }
        a {  @include underlined ( $primary-color, 1px ); }
      }
    }
  }
/* end overlays skins */

  .ham__navbar-toggler.collapsed .ham-toggler-menu__span  { background: $primary-color;  }
  .ham-toggler-menu__span, .caret__dropdown-toggler__span {
      &:before, &:after {
         background: $primary-color;
      }
  }

    .secondary-navbar__wrapper .socials {
      a, a:focus, a:active { color: $primary-color; @include transition (all 0.3s ease); }
      a:hover { color: $secondary-color-light; }
    }



  #tc-sn.primary-nav__container,
  #sticky-placeholder,
  .topnav_navbars__wrapper  {
    background: $background-color;
  }

  @include media-breakpoint-up(lg) {
    .header-transparent {
      #sticky-placeholder { background: transparent }
      .topnav_navbars__wrapper {
        background: transparent;
        border-bottom: 1px solid rgba($primary-color, 0.09);
      }
    }
  }

  .secondary-navbar__wrapper .hamburger-toggler__container,
  .secondary-navbar__wrapper {
    border-bottom: 1px solid rgba($primary-color, 0.09);
  }

  header:not(.header-transparent) {
    .topnav_navbars__wrapper {
      @include box-shadow(0px, 2px, 2px, rgba(102, 102, 102, .08));
    }
  }

  .image__header .header-content {
    a { color:$primary-color; }
    a:hover { color:$secondary-color-light; }
    .entry-meta .tax__container:after { background-color:$primary-color }
  }


  .primary-nav__utils {
     color: $primary-color;
      a, a:focus, a:active { color: $primary-color; @include transition (all 0.3s ease);  }
      .ham__navbar-toggler.collapsed:hover {
        span::after,
        span::before,
        span {
          background-color: $secondary-color-light;
        }
      }
      .ham-toggler-menu__span, a:hover, a.current-active { color: $secondary-color-light; }

      @include media-breakpoint-up(lg) {
        .primary-nav__socials .socials { @include v-divider ($base-line-height, rgba($primary-color, 0.09), left, 1); }
        .utils li { @include v-divider ($base-line-height, rgba($primary-color, 0.09), left, 1); }
      }
      @include media-breakpoint-down(md) {
        .primary-nav__socials .socials { border-top: 1px solid rgba($primary-color, 0.09);  }
      }
  }
  .dropdown-item:before {
    background-color: rgba( $primary-color-inverted, 0.15);
  }
  .dropdown-menu,
  .dropdown-item:focus,
  .dropdown-item:hover {
    background: $background-color;
  }

  .branding {
      a { color:$primary-color; }
           .has_tagline {
             .navbar-brand-tagline { color: $secondary-color }
        a {
            span::after {
          content: "";
          position: absolute;
          width: 33%;
          height: 3px;
          bottom: 0;
          left: 0;
          background: $primary-color;
        }
           }
         }
  }
   .mobile-woocart__container a { color:$primary-color; }
   .hamburger-toggler__container,
     .mobile-woocart__container {
        @include v-divider ($base-line-height, rgba($primary-color, 0.09), left, 1);

     }

  [class*=-nav__menu] {

    & > li > span > a, .caret__dropdown-toggler {
      color: $primary-color;

    }
    & > li:not(.dropdown-item) > span > a {
     /* & > span:first-of-type { @include underlined ($primary-color, 2px); }
      .secondary-nav__nav & > span:first-of-type { @include underlined ($primary-color, 1px); }*/
      @include underlined ($primary-color, 2px);
      .secondary-nav__nav & { @include underlined ($primary-color, 1px); }
    }
    & > li.active > span > a, &  li.current-active > span > a {
      color: $secondary-color;
      /* & > span:first-of-type { @include underlined_highlight_before($primary-color) } */
      @include underlined_highlight_before($primary-color);
    }
    &  li.active {
      .caret__dropdown-toggler__span:after,
      .caret__dropdown-toggler__span:before  {
        background: $secondary-color-dark;
      }
    }
    .dropdown-menu a { color: $primary-color; }
    .dropdown-menu a:hover, li.active > span > a  { color: $secondary-color;  }
    .dropdown-item  a { color: $secondary-color; }
    .dropdown-item:hover a { color: $primary-color; }

  }

  .dropdown-item:not(:last-of-type) {
     border-bottom: 0.5px solid rgba($secondary-color-dark, 0.15);
  }

  .tc-sn .primary-nav__menu {
    & > li {
        border-bottom: 1px solid rgba($primary-color, 0.075);
    }
  }

  @include media-breakpoint-down(md) {
    .primary-navbar__wrapper .primary-nav__container nav {
        border-top: 1px solid rgba($primary-color, 0.075);
     }

    .secondary-navbar__wrapper,
    .primary-nav__container,
    .branding__container {
      background: rgba($background-color, 1);
    }
    .primary-nav__container {
      border-bottom: 1px solid rgba($primary-color, 0.075);
    }
    .nav__menu {
      & > li {
          border-bottom: 1px solid rgba($primary-color, 0.075);
      }
    }
    .primary-nav__search {
      border-bottom: 1px solid rgba($primary-color, 0.075);
    }
   }

  .header-transparent .navbar-sticky { background: rgba($background-color, 0.95); }

  header .czr-form, #tc-sn .czr-form, .overlay .czr-form {
    .form-group label {
       color: $primary-color;
    }
     .form-group.in-focus label {
       color: $secondary-color-light;
     }
     .form-control {
       color: $primary-color;
       border-color: $primary-color;
     }
  }
}
/* end mixin */

.header-skin-light  {
  @include headerskin($white, $black);
}
.header-skin-dark  {
  @include headerskin($black, $white);
}