/* PARALLAX FILTER FIX */
.filter, .header-skin-dark .section-slider .filter, .header-skin-light .section-slider .filter {
  height: 100vh !important;
}
.section-slider .container { height: 100vh !important;}
/* parallax test with tc-page-wrap shifting ^^*/
/*.parallax-mirror,*/
#tc-page-wrap { transition: right, left 300ms ease-in; left: 0 ; }
/*.open .parallax-mirror,*/
.open #tc-page-wrap {
  left: -300px !important;
  overflow: hidden;
}

/*
* In desktops when resizing below the "collapsing mobil menu" treshold
* always expand submenus when .tc-open-on-hover
*/
@media (max-width: 992px){
  body:not(.tc-is-mobile) .tc-open-on-hover .dropdown-menu {
    display: block !important;
  }
  body:not(.tc-is-mobile) .tc-open-on-hover .caret__dropdown-toggler {
    display: none !important;
  }
}

/* end HEADER HACK */

/* VARIOUS */
#tc-page-wrap {
  position: relative;
  z-index: 12;
}
img.wp-post-image,
img.post-thumbnail {
  width: 100%;
  height: auto;
}

/* JS IMAGE CENTERING */
img.h-centered {
  width: auto!important;
  max-width: none!important;
  position: relative;
}
img.v-centered {
  height: auto!important;
  max-height: none!important;
  vertical-align: top;
  position: relative;
}

/* STICKY */
.header-skin-dark #sticky-placeholder{
  background: #202020 ;
}
.header-skin-light #sticky-placeholder{
  background: white ;
}
.navbar-sticky-overlap #sticky-placeholder{
  position: absolute; top: 0;
}
.tc-header.header-transparent #sticky-placeholder{
  background: transparent;
}
.admin-bar.sticky-enabled .navbar-fixed-top { top: 30px; }

/* TO DECIDE */
body:not(.tc-sticky-header) .navbar-fixed-top { position: relative;}
.navbar-sticky-overlap .navbar-fixed-top { position: absolute;}
.sticky-enabled.navbar-sticky-overlap .navbar-fixed-top { position: fixed;}
/* END STICKY */



/* FLICKITY SLIDER  */
/*.carousel { z-index: 4;}*/
.carousel-cell { width: 100%;}
.carousel img { min-width: 100%;}

/* .carousel { height: 100vh; }
.format-gallery .carousel { height: 100%; }

.carousel-cell { height: 100%; width: 100%; }
.carousel-cell img { width: 100%; } */
/* move page dots into carousel */
.flickity-page-dots { bottom: 10px; } 
.flickity-page-dots, .flickity-prev-button, .flickity-prev-next-button { z-index: 105; position: absolute;}

/* Patches */

/* Alternate sections centering */
@media ( min-width: 768px) {
  .czr-center-sections{transform: translateY(50%) }
  .czr-center-sections section {transform: translateY(-50%) }
  .no-thumb .czr-center-sections .post-type__icon{ padding: 0 }
}
article .sections-wrapper { position: relative; display: inline-block; width: 100%; height: 100%; vertical-align: middle;}

/* Alternate and Masonry special formats patch*/
.article-container .post-action { left: auto; }
[class*=grid-container__] .format-gallery .tc-thumbnail, [class*=grid-container__] .format-image .tc-thumbnail { max-height: 600px;}

.bg-link { top: 0; left: 0; width: 100%; height: 100%; position: absolute; z-index: 4;}

.hover .post-action,
.article-container .grid-container__alternate .format-gallery .sections-wrapper .entry-footer,
.article-container .grid-container__alternate .format-image.no-text .entry-footer,
.article-container .grid-container__alternate .format-image.no-text .entry-header,
.article-container .grid-container__alternate .format-gallery .sections-wrapper .entry-header,
.article-container .grid-container__masonry .format-gallery .entry-header,
.article-container .grid-container__masonry .format-gallery .entry-footer,
.article-container .grid-container__masonry .format-image .entry-header,
.article-container .grid-container__masonry .format-image .entry-footer { z-index: 5 }

.article-container .grid-container__alternate .format-image.no-text .entry-header,
.article-container .grid-container__alternate .format-gallery .sections-wrapper .entry-header,
.article-container .grid-container__masonry .format-gallery .entry-header,
.article-container .grid-container__masonry .format-image .entry-header{ position: relative;}

.article-container .grid-container__alternate .format-image .sections-wrapper .tc-content, 
.article-container .grid-container__alternate .format-gallery .sections-wrapper .tc-content, 
.article-container .grid-container__masonry .format-image .tc-content, 
.article-container .grid-container__masonry .format-gallery .tc-content {
  z-index: initial;
}

/* reset bottom + when format-image apply only to those with no text*/
.article-container .grid-container__alternate .format-image.no-text  .tc-content .entry-footer, 
.article-container .grid-container__alternate .format-gallery .sections-wrapper .tc-content .entry-footer {
    position: absolute;
    width: 90%;
    bottom: 0;  
}

/* TO BE MERGED */
.grid-container__classic .post-info .v-separator,
.grid-container__masonry .post-info .v-separator { display: none; }

.grid .tc-grid-post .entry-footer .post-info a:first-of-type,
.grid .grid-post .entry-footer .post-info a:first-of-type { float: none; }
/* think about this */
.entry-header .entry-title { word-wrap: break-word;}

.entry-image__container .post-type__icon i {
    position: relative;
}

/* Placeholder temp */
.tc-placeholder-wrap {
    padding: 19px;
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.6);
    -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.6);
    box-shadow: inset 0 0 10px rgba(0,0,0,.6);
    position: relative;
}
.tc-placeholder-wrap p {
    font-style: italic;
    font-size: 80%;
    color: #5A5A5A!important;
    text-align: center;
}
.tc-placeholder-wrap::before {
    font-family: FontAwesome;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
      
    font-size: 1em;
    content: "\f05a";
    padding-left: 0;
    position: absolute;
    text-decoration: none!important;
    top: 5px;
    left: 5px;
}

/* Breadcrumb fixes */
.tc-hot-crumble.container .page-breadcrumbs .breadcrumb .trail-end,
.tc-hot-crumble.container .page-breadcrumbs .breadcrumb a {
  background: #fff;
  padding: 6px;
  float: left; 
  margin-left: 2.5em;
}

.tc-hot-crumble.container .page-breadcrumbs .breadcrumb .trail-begin {
  margin-left: 0;
  padding-left: 0;
}
.tc-hot-crumble.container .page-breadcrumbs .breadcrumb .trail-end {
  font-weight: 400;
  float: right;
}


/* Slider stuff */
/* Slider loader wrapper took from Customizr */
/* If automatic centering is enabled */
.czr-carousel > .center-slides-enabled > .item > .carousel-image img {
  display: block;
  position: relative;
}
/* Gif Loader if center slide option is checked */
.tc-slider-loader-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99;
  /*less than the default sticky-header z-index */
  background: #FAFAFA;
}
.tc-img-gif-loader {
  width: 100%;
  display: inline-block;
  height: 100%;
}
/* Pure CSS loader */
@-webkit-keyframes tc-mr-loader {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    opacity: 0.0;
  }
}
@keyframes tc-mr-loader {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7;
  }
  100% {
    opacity: 0.0;
  }
}
.tc-css-loader {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;  
}
.csstransforms3d .tc-css-loader {
  display: block;
}
.tc-mr-loader > div:nth-child(0) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.tc-mr-loader > div:nth-child(1) {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.tc-mr-loader > div:nth-child(2) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.tc-mr-loader > div:nth-child(3) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.tc-mr-loader > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  top: -4%;
  left: -4%;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px solid #777;
  -webkit-animation: tc-mr-loader 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
  animation: tc-mr-loader 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
}
/* end took from customizer */

.slider-nav, .tc-gallery-nav { cursor: pointer;}
.czr-carousel { position: relative; overflow: hidden;}
.carousel-caption {
  height: auto;
  max-height: 80%;
  width: 80%;
  text-align: center;
  z-index: 4;
  overflow: hidden;

  /* temporary centering */
  transform: translate(-50%, -50%);
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  position: absolute;

}

.carousel-image img {
  width: 100%;
  height: auto;
}

.center-slides-disabled .carousel-image img {
  /* temporary CSS centering */
  transform: translate(-50%, -50%);
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  position: absolute;
}

.czr-carousel.full-page {
  width: 100%;
  height: 100vh;
}
.czr-carousel .carousel-cell,
.czr-carousel .carousel-inner { width: 100%; height: 100%; overflow: hidden;}