#main-wrapper.bg { background: $grey-lightest; }	
#main-wrapper.section { padding-bottom:$base-line-height*4; }
#tc-page-wrap {
	overflow-x: hidden;
}

//header skins
.header-skin-dark  {

		.section-slider .filter, .page__header.image-header
		{
			@extend .filter;
			@include filter($black, $white, 0.5);
		}
}

.header-skin-light {

	.section-slider .filter, .page__header.image-header
	 {
		@extend .filter;
		@include filter($white, $black, 0.75);
	}
}


//slider section
.slider-text > h2 { margin:0; line-height: 1.1 }
.slider-text > h2 + h3 { margin-top:0; margin-bottom: $base-line-height; }
.section { position: relative; margin:0; padding:0 }
.section-slider {
	@extend %vertical-align-parent;
	overflow: hidden;

}

 .parallax { 
	@include centered;
	@extend %vertical-align-parent;
}
.section-slider .container {
		z-index: 3;
		position: relative;
		width: 100%;
		height: 100%;
		display: block;
		top: 0;

}
.parallax  .content
{
	@extend %vertical-align;
}
#main-wrapper .section.custom  { margin : $base-line-height*2 0; }

.section .image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  z-index: 2;
  position: absolute;
  display: block;
}

.section .parallax,
.section .static-image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}

.section .parallax > img,
.section .parallax .filter > img,
.section .static-image > img,
.section .static-image .filter > img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  z-index: 1;
}
.section .parallax-small {
  height: 65vh;
}

//post formatting
.post-entry {
	ol.pre, ol.pre ol { 
		counter-reset: item; 
		li:before {
			content: counters(item, ".") "."; 
			counter-increment: item;
			padding-right: $base-line-height/2;
		}
	}
	ul.pre {
		li {
			    list-style: none;
			}
			li:before {
			    content:"■";
			    font-size:12px;
			    vertical-align:middle;
			    padding-right: $base-line-height/2;

			}
	}
	ul.pre.dash {
		list-style: none;
		margin-left: $base-line-height;
		li::before {
			content: "";
			display: inline-block;
			vertical-align: middle;
			margin-left:-$base-line-height;
			width: $base-line-height;
			height: 1px;
			background: black;
			margin-right: $base-line-height;
		}
	}
	ol.pre, ul.pre { 
		ol, ul { 
			margin-left: $base-line-height*2;
		}
	}
	blockquote {
		padding-top: $base-line-height*2;
		padding-bottom: $base-line-height*2;
		border-top: 1px solid $grey-lightest;
		border-bottom: 1px solid $grey-lightest;
		p, footer { margin-left: 5em; width: 90%; }
		p { padding-left:$base-line-height*4; }
		footer { margin-left:$base-line-height*4; }
		&::before{
			content: "\e808";
			top:$base-line-height*2;
			left:$base-line-height*2;
			position: absolute;
			font-size: ms(2); 
			display: inline-block;  
			vertical-align: top;
			font-family: "customizr";
			font-style: normal;
			font-weight: normal;
			speak: none;
			width: 1em;
			margin-right: .2em;
			text-align: center;
			font-variant: normal;
			text-transform: none;
			margin-left: .2em;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
	}	
	}
	table {
		border: 2px solid $grey-lightest;
		th { @extend .caps; @extend  .letter-spacing-2; font-family: $serviceFont; }
		th, td { @extend .small; padding: $base-line-height; border: 1px solid $grey-lightest; }
		td { color: $grey-dark; }
	}

	dl {
		margin-bottom:  $base-line-height; 
		dt {
			text-align: left;
			position: relative;
			padding : $base-line-height $base-line-height $base-line-height/2 $base-line-height;
			&::before {
				content: "";
				position: absolute;
				width: $base-line-height;
				height: 2px;
				bottom: calc(#{$base-line-height} - 6px);
				left: 0;
				background: $black;
			}
		}
		dd {
			padding-left : $base-line-height;
		}
	}
}

/* featured */
.featured {
	position: relative;
	text-align: center;
	margin:0 auto;
	.grid-post { background: $white; }
	img { max-width: 100%; }
	h2 {
		@extend .semi-bold;
		&::after {
			content: "";
			position: absolute;
			width: $base-line-height;
			background: $black;
			height: 2px;
			top: 100%;
			left: 0;
			right: 0;
			margin: $base-line-height/4 auto $base-line-height auto;
			@include transition (all 0.6s ease);
		}
	}
	a.btn-more { margin-bottom: $base-line-height*2; }
	.tc-content { 
		width: 80%; 
		text-align: center;
		margin:0 auto; 
		p {
			margin-top: $base-line-height*2;
			margin-bottom: $base-line-height*2;
			color: $grey-dark;
			@extend .small;
		}

	}
	.pre-header { 
		@extend .small;
		@extend .caps;
		@extend .letter-spacing-1;
		display: block;
		color: $grey-dark;
		font-size: ms(-5);
		
	}
	&:hover {
		color: $grey-dark;
		h2::after {
			background: $grey-dark;
			width: $base-line-height*2; 
		}
	} 
}
@media (max-width: 60em) {
	.featured {
		margin: $base-line-height 0;
	}
} 

/* plain post list */
.post-list-plain {
	.article-container { padding-top: $base-line-height*4; }
	.post {
		section { padding:0; }
		section:last-of-type { padding:$base-line-height*2; }
		background: $white;
		.readmore-holder { border-bottom: 1px solid $grey-lightest; padding-bottom: $base-line-height; }
		.tc-thumbnail { max-height: 600px; overflow: hidden; }
		.entry-header { 
			.entry-meta { 
				margin-top:$base-line-height; 
				a { margin-right:0; }
			 }
	
		}
		header {
			@media (max-width: 60em) {
				padding: 0 15px;
			}
		}
		.post-tags { width: 50%; float: left; margin-top: $base-line-height; }
		.socials   { float:right; margin-top:$base-line-height;  }
		
		.post-info { 
			margin-top: $base-line-height;
			@media (min-width: 48em) {
				text-align: right; 	
				margin-top: 0;		
			}
		}
		.author-info { 
			
			.avatar, a { float:none; clear: none; display: inline-block; }
			a { width: auto; margin-left: $base-line-height;}
		}
 
		
		.post-info, .author-info, .post-tags, .entry-header .entry-meta {	@extend .small;	}
		.author-info {
			a {
				color: $black;
				@extend .semi-bold;
				line-height: 48px;
				margin-right: $base-line-height;
				width: 100%;
				display: block;
				clear:both;
				text-transform: uppercase;
				font-family: $serviceFont;
				letter-spacing: 4px;
			}
			.avatar { display: block; float:right; clear:both; }
		}
		.entry-meta .category__link { 
				display: block; 
				letter-spacing: 3px; 
				line-height: 3em; 
				clear:both;
				width:auto;		
				position: relative;
				@extend .caps;
				@extend .service-font;
				&:not(:last-of-type)::after { content:none; }
				span { position: relative; width: auto; }
				@media (min-width: 48em) { 	
					text-align: right;
					margin:0;
					& span::before {
						content: "";
						position: absolute;
						top: calc(50% + 2px);
						width: $base-line-height*2;
						height: 2px;
						background: $black;
						left:-3em;
						@include transition (all 0.3s ease);
					}
				}
				&:hover span::before {
					width: $base-line-height/2;
				}
				@media (max-width: 48em) { 
					width: auto; display: inline-block; text-align: left; 
					&:not(:first-of-type) { margin-left: $base-line-height; }
					& span::before {
						content: none; 
					}
					& span { position: relative; }
					&:not(:last-of-type) span::after {
						content: "/"; 
						position: absolute;
						left:100%;
						margin: 0 6px;
					}

				}
		}
		.entry-footer {
			clear: both;
			border-top: 1px solid $grey-light;
			padding: $base-line-height*2 $base-line-height*2 0 $base-line-height*2;  
			
			.entry-meta { 
				margin-top:$base-line-height*2;  
				
			}
			.btn-holder {
				text-align: right;
			}
			.socials { float: right; }
		}
		header.entry-footer {
				padding: 0 $base-line-height*2 $base-line-height*2 $base-line-height*2;  
				border-top: none;
				border-bottom: 1px solid $grey-light;
			}
		.tc-content-inner { 
			margin-bottom: $base-line-height*2;
		}
	}

	.post.short {
		.post-tags {
			float: none;
			width: 100%;
		}
		.readmore-holder {
			padding-top: $base-line-height;
			border-bottom: 0;
			border-bottom: none;
		}
		.btn-more {
			border-radius: 2px;
			background: $black;
			color: $white;
			border:none;
		}
	}
	.post.style-01 {
		.post-tags { width: 50%; float: left; }
		.socials   { float:right; margin-top:$base-line-height;  }
		.post-info {  }
		.author-info { 
			 
			.avatar, a { float:none; clear: none; display: inline-block; }
			a { width: auto; margin-left: $base-line-height;}
		}
	}
	.post.style-03 {
		.author-info {
			margin-top: $base-line-height*2;
			.avatar { margin-bottom: $base-line-height; }
			a { margin-right: 0; }
			a span { display: inline-block; line-height: normal;  }
		}
	}
	.post.style-02 { 
		.author-info {
			margin-top: $base-line-height*2;
			.avatar, a { float: none; display:inline-block; }
			a { line-height: 48px; clear: none; width :auto; margin-left: $base-line-height; }
		}
	}
	.post.format-video {
		.tc-thumbnail {
			min-height: 640px;
			height: 640px;
			overflow: auto;
			.video-container {
				height: 100%;
			}
		}
	}
}
