@mixin footer__skincolor($colour) {

  $primary-color     : $colour;
  $secondary-colour  : $grey;
  $background     : invert($primary-color);
  $background-dark   : darken($primary-color, 5%);
  $border             : 0 transparent;



  @if $primary-color == $white {
    $secondary-colour : $grey;
    $background       : $black;
       $background-dark  : darken($black, 5%);
       $border           : 0 transparent;
   }
     @else if $primary-color == $black {
       $secondary-colour : $grey;
       $background       : $white;
       $background-dark  : $grey-lightest;
       $border           : $grey-light;
     }

  color: $primary-color;
  background: $background;
  border-top: 1px solid $border;

  a {
    color: $secondary-colour;
    &:hover, .socials a:hover { color: $primary-color; }
  }
  .widget a {
      @include underlined(rgba($primary-color, 0.5), 1px );
  }
  .colophon__row {
    background: $background-dark;
  }
}

.footer__wrapper {
  .header-skin-dark  &  { @include footer__skincolor($white); }
  .header-skin-light &  { @include footer__skincolor($black); }
  padding:0;
  margin:0 auto;
  font-size: 90%;

  .widget__wrapper {
    padding-top: $base-line-height*3;
    padding-bottom: $base-line-height*1.5;
  }
  a {
    display: inline-block;
    position: relative;
    width: auto;
  }
  h5 { @extend .semi-bold; }

  .widget > h5  { margin-bottom: $base-line-height; }
  .textwidget   {  width:90% }
  .about {
    position:relative;
    p {
      display:inline-block;
      position:relative;
      width:80%;
      float:left;
      margin:0;
    }
    .branding__logo {
      margin-right: $base-line-height*2;
      float:left;
      width:auto;
      position:relative;
      display:inline-block;
      max-width:100px;
      img {
        max-height:60px;

        }
       }
   }

  .widget-contact-info-content {
    p  {
      line-height: 1.1em;
    }

  }
  .colophon__row {
    margin:0;
    padding:$base-line-height/2 $base-line-height;
  }
  .copyright {
    @extend .small;
    @extend .letter-spacing-1;
    color: $grey;
    margin:0;
    vertical-align: middle;
    display: inline-block;
    line-height: $base-line-height*2;
  }
}

@media (max-width: 993px) {
  .footer__wrapper {
    .widget  { padding: $base-line-height;  }
  }
}