language: php

php:
    - 5.4

env:
    - WP_VERSION=latest WP_MULTISITE=0

before_script:
    - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION 

script: phpunit --coverage-clover=coverage.clover