.topbar-navbar__wrapper {
    min-height: 40px;
}
/* ie fix */
.topbar-nav__container,
.topbar-nav__menu-wrapper {
  @include display-flex();
  flex-shrink: 1; //ie (10 at least) doesn't consider this as default while it should
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}

.topbar-nav__nav,
.topbar-nav__menu {
  width: 100%;
  a,
  .menu-item a {
    font-weight    : normal;
    text-transform : none;
  }
  @at-root .topbar-nav__menu.nav__menu {
    margin: 0 -0.5rem;
    > .menu-item {
      margin: 0 0.25rem;

        > a {
            padding: 0 0.25rem;
            > span:first-of-type {
                padding: 12px 0 4px 0;
                margin-bottom: 8px;
                //padding: $base-line-height/2 0;
            }
        }

    }
  }
}