li[id*="customize-control-"] {
  border: none;
  box-shadow: none;-webkit-box-shadow: none;
  padding: 0
}
.customize-control span.customize-control-title:first-child {
  padding-left: 0;
}

/* SELECT 2 SPECIFICS */
body .czrSelect2-dropdown {
  z-index: 998;
}
body .czrSelect2-container--open .czrSelect2-dropdown--below {
    border: 1px solid #008ec2;
}
body .czrSelect2-container--open .czrSelect2-dropdown--above {
    border-top: 1px solid #008ec2;
}

[id*=tc_theme_options-tc_skin] .czrSelect2-container .czrSelect2-selection--single .czrSelect2-selection__rendered {
  padding-left: 0;
}
body .czrSelect2-container--default .czrSelect2-selection--single .czrSelect2-selection__arrow b {
  margin-top: 0;
}
body .czrSelect2-container .czrSelect2-selection--single {
  box-sizing: content-box;
}
.czrSelect2-results .tc-czrSelect2-skin-color {
  padding: 8px 0px;
}
body .czrSelect2-container-active .czrSelect2-choice, body .czrSelect2-container-active .czrSelect2-choices {
    border: 1px solid #008ec2;
}
body .czrSelect2-container--default .czrSelect2-results>.czrSelect2-results__options {
    max-height: 360px;
}
.tc-czrSelect2-skin-color {
  display: inline-block;
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.65);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.65);
  padding: 0;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  font-weight: bold;
  color: #FFF;
  -webkit-transition: box-shadow .25s ease;
  -moz-transition: box-shadow .25s ease;
  -ms-transition: box-shadow .25s ease;
  -o-transition: box-shadow .25s ease;
  transition: box-shadow .25s ease;
  /* vertical-align: middle; */
}
.czrSelect2-chosen .tc-czrSelect2-skin-color, .tc-czrSelect2-skin-color:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow:none;
  box-shadow: none;
}
/* FONTS */
.tc-czrSelect2-font {
  padding: 7px 7px 4px;
  line-height: 20px;
}
.czrSelect2-results .czrSelect2-highlighted .tc-czrSelect2-font{
  color: #555;
}

.czrSelect2-results__group {
  font-weight: 700;
  text-align: center;
  padding-top: 3px;
  line-height: 22px;
}

.tc-title-google-logo {
  display: block;
  float: left;
  position: relative;
  z-index: 100;
  padding: 2px 4px 0 14px;
  top: 10px;
}
.rtl .tc-title-google-logo {
  float: right;
  padding: 2px 18px 0 7px;
}
.tc-google-logo {
  position: relative;
  top: 6px;
}
/* Call to actions block */
.tc-grid-control-section {
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: 8px;
}

.tc-grid-toggle-controls {
    font-size: 15px;
    text-transform: uppercase;
    clear: both;
    width: 100%;
    display: block;
    float: left;
    margin: 15px 0;
    cursor: pointer;
    color: #000;
}
.tc-grid-toggle-controls::before {
  content: "+";
  font-size: 18px;
  display: block;
  float: left;
  background: #000;
  padding: 5px;
  line-height: 11px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFF;
  margin-right: 5px;
  bottom: 2px;
  width: 12px;
  height: 12px;
  text-align: center;
  position: relative;
}

.tc-grid-toggle-controls.open::before {
  content: "-";
  line-height: 11px;
}

li[id*="customize-control-"].tc-grid-design {
  border-left: 2px dotted #008ec2;
  margin-left: 3%;
  padding-left: 3%;
  width: 93%;
  font-style: italic;
}
.customize-control .tc-navigate-to-post-list {
  color: #008ec2;
  font-weight: bold;
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 8px;
}

li[id*="customize-control-"].tc-sub-control {
  padding-left: 13%;
  max-width: 87%;
  position: relative;
}

li[id*="customize-control-"].tc-sub-control:before {
  content: "";
  height: 116%;
  background: #008ec2;
  width: 2%;
  position: absolute;
  left: 7%;
}

/* Maybe nove into common css */
/*
* Fix: wp 4.7 sticky section title and footer actions z-index
*/
.expanded .wp-full-overlay-footer,
#customize-controls .customize-section-title.is-in-view.is-sticky {
  z-index: 10000001;
}

/* ROOT PANEL : SEPARATE MENUS, WIDGETS AND ADVANCED OPTIONS */
.control-panel-nav_menus > .accordion-section-title, .control-panel-widgets > .accordion-section-title {
  margin: 0 0 10px;
}

/* style custom head and footer scripts textarea */
#customize-control-tc_theme_options-tc_custom_head_script textarea,
#customize-control-tc_theme_options-tc_custom_footer_script textarea {
  font-size: 13px;
  background: #394143;
  color: #95ff0c;
  min-height: 250px;
  width: 100%;
}

.remove_google_fonts .czrSelect2-container--default .czrSelect2-results__option[role=group][aria-label="Google fonts pairs"], 
.remove_google_fonts .czrSelect2-container--default .czrSelect2-results__option[role=group][aria-label="Single fonts"] {
    display: none;
}