.gallery-item {
  .gallery-icon {
    overflow: hidden;
  }
  img {
    display: block;
    @include transition(transform 0.3s ease-in-out);
    max-width: 100%;
    width: 100%;
  }
  &.hover img {
    @include transform( scale(1.1) );
  }
}



/*
* Gallery needs a better implementation
*/
@for $i from 1 through 9 {
  .gallery-columns-#{$i} {
    .gallery-item {
      //width: calc( (100% - #{$base-line-height} * (#{$i} - 1) ) / #{$i} );
      width: percentage( 1 / $i );
    }

    @include media-breakpoint-down(md) {
     .gallery-item {
         //width: calc( (100% - #{$base-line-height} * (#{$i} - 1) ) / (#{$i} / 2)  );
         width: percentage( 1 / $i );
      }
    }
  }
}


@for $i from 3 through 0 {
  .gallery-columns-#{$i} {
    .gallery-item {
    .post-action {
      width:  $base-line-height*9/$i;
      height: $base-line-height*9/$i;
      top: $base-line-height - $i/10 ;
      right: $base-line-height - $i/10 ;
      a {
        line-height: $base-line-height*9/$i;
      }
      }
    }
  }
}