/* hamburger and caret */

.ham__navbar-toggler {
  position: relative;
  text-align: center;
  /*z-index: 10001;
  margin: 0;
  background: none;
  border: none;*/
  vertical-align: middle;
  cursor: pointer;
  /*height: 1.33em;*/
  display: inline-block;
  -webkit-appearance: initial !important;
  @include transition (all, .3s)
}

.caret__dropdown-toggler {
    float: right;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    z-index: inherit;
    cursor: pointer;
    i {
      @include transition (all, .3s);
    }
}

.ham-toggler-menu__span {
  background: transparent;
  display: inline-block;
  width: 1rem;
  height: 2px;
  position: relative;
  top: 0;
  vertical-align: middle;
  @include transition (all ease 0.3s);
  &:before, &:after {
      position: absolute;
      content: '';
      display: inline-block;
      width: inherit;
      height: inherit;
      transition: all ease .3s;
      outline: .075rem solid transparent;
      left: 0;
  }
}

.ham__navbar-toggler .ham-toggler-menu__span:after  { @include transform(rotateZ(45deg));  }
.ham__navbar-toggler .ham-toggler-menu__span:before { @include transform(rotateZ(-45deg));  }
.ham__navbar-toggler.collapsed .ham-toggler-menu__span {
    &:before {
      top: -6px;
      @include transform(rotateZ(0));
    }
    &:after {
      top: 6px;
       @include transform(rotateZ(0));
    }
}
/* Dropdowns */
.active > .czr-dropdown-menu > .dropdown-menu {
  display: block;
}
/* Test */
//@media (min-width: 992px)
@include media-breakpoint-up(lg){
  .regular .czr-dropdown-menu {
    position: absolute;
  }
  .regular .dropdown-menu .czr-dropdown-menu {
      top: 50%;
      left: 0;
      width: 100%;
  }
}