@include media-breakpoint-down(md) {
  .primary-navbar__wrapper {
    height: auto;
    .nav-collapse {
      padding: $base-line-height 0;
    }
    @at-root .branding__container {
      display: table;
      /*table-layout: fixed;*/
      min-height: 70px;
      height: 100%;
      [class*=logo_right] & {
        direction: rtl;
      }
      @at-root .branding {
        max-width: 50vw;
        max-height: none;
        height: auto;
        line-height: 1;
        display: table-cell;
        padding-left: 1.25em;
        vertical-align: middle;
        [class*=logo_right] & {
          padding-left: 0;
          padding-right: 1.25em;
          text-align: right;
        }
        padding-top: 5px;
        padding-bottom: 5px;
        img {
          max-width: 100% !important;
          max-height: 50px !important;
        }
      }

      @at-root .mobile-utils__wrapper {
        display: table-cell;
        height: 100%;
        float: none;
        text-align: right;
        white-space: nowrap;

        [class*=logo_right] & {
          text-align: left;
          direction: ltr;
        }
      }
    }
  }
  /* togglelable secondary */
  .secondary-navbar__wrapper[class*=menu-toggleable-] {
    padding: 0;
    border: none;
    z-index: 200;
    .hamburger-toggler__container {
      display: block;
      height: 30px;
      line-height: 30px;
      width: 100%;
      padding-left: 0;
      text-align: right;
      &:before {
        content: none
      }
      .ham__navbar-toggler {
        display: inline-block;
        @at-root .secondary-navbar__wrapper .ham-toggler-menu__span {
          height: 1px;
          display: inline-block;
          vertical-align: middle
        }
      }
    }
  }

  /* Limit nav-collpase height to the viewport when sticky mobile */
  .czr-sticky-mobile .nav-collapse {
    position: absolute!important;
    background: inherit;
    z-index: 100;
    left: 0;
    &::before, &::after {
      display: table;
      content: '';
      line-height: 0;
    }
    &.active.limited-height {
      overflow: auto;
    }
  }
}


.mobile-woocart__container,
.hamburger-toggler__container {
  float: none;
  height: 100%;
  vertical-align: middle;
  display: inline-table;
  margin-left: 0;
  margin-right: 0;
  padding-right: 1.25em;
  padding-left: 1.25em;
  [class*=logo_right] &::before {
    left: auto;
    right: 0;
  }
}

.mobile-woocart__container .woocart,
.hamburger-toggler__container .ham__navbar-toggler {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}


.primary-nav__wrapper {
  height: 100%;
  background: inherit;
}
/* Fix space between inline-block elements */
.mobile-utils__wrapper,
.primary-nav__utils {
  font-size: 0.001px;
}

.primary-nav__nav  {
  //@media screen and (min-width: 992px)
  @include media-breakpoint-up(lg) {
    .primary-nav__utils .utils {
      margin: 0 -$base-line-height-root;
    }
  }
  .mobile-search__container {
    padding: 0 $base-line-height-root;
    margin: 0;
  }
  .primary-nav__utils .utils li {
    padding: 0 $base-line-height-root;
    margin: 0;
  }
}


/* Fix */
//@media screen and (min-width: 992px)
@include media-breakpoint-up(lg) {
  .primary-nav__menu-wrapper .primary-nav__menu.regular {
    margin-left: $base-line-height * -1;
    margin-right: $base-line-height * -1;
  }
  .tc-header .primary-nav__container .primary-nav__nav .primary-nav__menu-wrapper .primary-nav__menu > li {
      margin-left: $base-line-height;
      margin-right: $base-line-height;
  }

  .primary-nav__menu-wrapper.pull-menu-left {
    text-align: left;
  }
  .primary-nav__menu-wrapper.pull-menu-right {
    text-align: right;
  }

}



/* WooCart */
.primary-nav__woocart {
   position: relative;
   ul li {
    display: block !important;
    /* float: left; */
    width: 100%;
    padding: $base-line-height/2 !important;
    margin-left: 0 !important;
    white-space: normal;
    position: relative;
    &::before {
      content: none !important;
    }
  }
  .widget_shopping_cart {
    width: 320px;
    max-width: 50vw;
    li,
    p.buttons,
    p.total {
      padding: 1em $base-line-height;
    }
    li a {
      white-space: normal;
      display: block !important;
      &::before {
        content: none !important;
      }
    }
    p.buttons,
    p.total {
      text-align: center;
      .button {
        display: block;
         &:nth-child(odd) {
            margin-bottom: .6180469716em;
        }
      }
    }
    .product_list_widget li a.remove {
      position: relative;
      float: left;
      top: auto;
      display: block;
      text-align: left;
      line-height: 1.3;
    }
    .product_list_widget img {
      margin-left: 1em;
      float: right;
    }
  }
}