/* hamburger and caret */

.ham__navbar-toggler {
  position: relative;
  text-align: center;
  /*z-index: 10001;
  margin: 0;
  background: none;
  border: none;*/
  vertical-align: middle;
  cursor: pointer;
  /*height: 1.33em;*/
  display: inline-block;
  -webkit-appearance: initial !important;
  @include transition (all, .3s)
}

.caret__dropdown-toggler {
  display: none;

  @include media-breakpoint-up(lg) { //min-width:992px
    .regular & {
      display: inline-block;
      width: 1.5em;
      vertical-align: middle;
      z-index: inherit;
      cursor: pointer;
      position: relative;
    }
  }

}

.ham-toggler-menu__span {
  background: transparent;
  display: inline-block;
  width: 1rem;
  height: 2px;
  position: relative;
  top: 0;
  vertical-align: middle;
  @include transition (all ease 0.3s);
  &:before, &:after {
      position: absolute;
      content: '';
      display: inline-block;
      width: inherit;
      height: inherit;
      transition: all ease .3s;
      outline: .075rem solid transparent;
      left: 0;
  }
}

.ham__navbar-toggler .ham-toggler-menu__span:after  { @include transform(rotateZ(45deg));  }
.ham__navbar-toggler .ham-toggler-menu__span:before { @include transform(rotateZ(-45deg));  }
.ham__navbar-toggler.collapsed .ham-toggler-menu__span {
    &:before {
      top: -6px;
      @include transform(rotateZ(0));
    }
    &:after {
      top: 6px;
       @include transform(rotateZ(0));
    }
}

/* Dropdowns */

.dropdown-menu {
          border-radius: 0;
          border:0;
          margin: 0;
          padding: 0;
          font-size: inherit;
          li {
            clear:both;
            min-width: 100%;
          }
          a {
            .primary-nav__menu & {
              @extend .bold;
            }
            position: relative;
            display:  inline-block !important;
            vertical-align: middle;
            [class*=nav__menu] & { padding: 0 }
          }

          @include box-shadow( 0, 2px, 2px, rgba(0, 0, 0, 0.15) );
          .dropdown-item {
              float:none;
              background-color: transparent;
              padding: $base-line-height/2 1.5rem;
              /*&.menu-item-has-children { padding-right:$base-line-height*2; }*/
              display: block;
              /*line-height: 4em;*/
              vertical-align: middle;
              @include media-breakpoint-up(lg) {
                  @at-root .regular .dropdown-menu .caret__dropdown-toggler i {
                    @include transform( translateZ(0) rotate(-90deg));
                    //transform-origin:100% 100%;
                    position: relative;
                    display: inline-block;
                    top: -0.1em;
                  }
              }
              @include media-breakpoint-down(md) {
                  &:last-of-type {
                    margin-bottom: $base-line-height/2;
                  }
                  &:first-of-type {
                    margin-top: $base-line-height;
                  }
             }
          }
          .dropdown-item + .dropdown-item { margin-left: 0 }
          .dropdown-item.open {
              .dropdown-item.open ul { display:block; }
          }
          .dropdown-menu {
              left: 100%;
              top: 55%;
              text-transform: none;
              font-size:ms(0);
          }

}

.caret__dropdown-toggler i{
  display: block;
  @include transition (all 0.3s ease);
  @include transform-style( preserve-3d );
  .menu-item.show > a > & {
    @include transform( translateZ(0) rotate(-180deg));
  }
}
@include media-breakpoint-down(md) { //max-width: 992px
     .dropdown-menu {
         background: transparent;
         @include box-shadow(0, 0, 0, rgba(0 ,0, 0, 0));
         position:relative;
         float:none;
         top:0;
         left:0;
         width:100%;
         .dropdown-menu {
            top:0;
            left:0;
         }
         .dropdown-item {
            padding: $base-line-height/2 $base-line-height-root/2;
         }
      }
}


/* dropdown-item (level > 1) hover effect */
.dropdown-item {
  position: relative;
}
/* Only for regular menus (horizontal) */
.regular .dropdown-item{
    &::before {
      content: '';
      position: absolute;
      width: 0%;
      height: 100%;
      top: 0;
      left: 0;
      transition-delay: 0s;
      transition-duration: .6s;
      transition-timing-function: cubic-bezier(.19, 1, .22, 1);
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;
    }

    &:hover::before {
      width: 100%;
    }
    //reset when in collapse open
    .navbar-collapse.show & {
      &::before {
        content: none;
      }
    }
    //no underline in desktops for submenus
    @include media-breakpoint-up(lg) {
      & a::before {
        content: none !important
      }
    }
}