.topnav-navbars__container {
  padding: 0 $base-line-height-root;
}

/* test */
/* This should be for all */
.nav__menu li {
  > span {
    display: inline-table;
    width: 100%;
    vertical-align: middle;
    a, span {
      display: table-cell !important;
      vertical-align: middle;
      position: relative;
    }
    a, a > span:first-of-type {
      width: 100%; padding-right: 0
    }
    a > span:first-of-type {
      float: none !important;
    }
    @at-root .primary-nav__menu li a {
      height: 3em;
      line-height: 3em;
    }
  }

  //In mobiles do not allow dropdowns for the secondary menu when shown as is
  @include media-breakpoint-down(md) {
    @at-root .not-hidden-md-down.secondary-navbar__wrapper {

      .caret__dropdown-toggler { display: none !important; }
      .czr-dropdown-menu { display: none !important; }
      .nav__menu > li {
        border: none;
        >span, > span > a, > span > a > span:first-of-type {
          width: auto
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    @at-root .tc-header {
      .dropdown-item {
        .caret__dropdown-toggler {
          right: -.75rem
        }
      }
      .nav__menu > li {
        > span > a, > span > a > span:first-of-type {
          width: auto
        }
      }
    }
  }
}

.secondary-navbar__wrapper {
  .hamburger-toggler__wrapper {
    padding: 0;
  }
  @at-root .secondary-nav__menu.regular {
    margin-left: -1/2*$base-line-height-root;
    margin-right: -1/2*$base-line-height-root;
    > li {
        margin-left: 1/2*$base-line-height-root;
        margin-right: 1/2*$base-line-height-root;
    }
  }

  &.pull-menu-right {
    .secondary-nav__container {
      margin-left: auto;
    }
    .secondary-nav__socials {
      margin-right: auto;
    }
  }

  &.pull-menu-left {
    .secondary-nav__container {
      margin-right: auto;
    }
    .secondary-nav__socials {
      margin-left: auto;
    }
  }
}
/* test */

@include media-breakpoint-down(md) {
  .primary-navbar__wrapper {
    height: auto;
    .nav-collapse {
      padding: $base-line-height 0;
    }
    @at-root .branding__container {
      display: table;
      /*table-layout: fixed;*/
      min-height: 70px;
      line-height: 70px;
      height: 100%;
      [class*=logo_right] & {
        direction: rtl;
      }
      @at-root .branding {
        max-width: 50vw;
        max-height: none;
        height: auto;
        line-height: 1;
        display: table-cell;
        padding-left: 1.25em;
        vertical-align: middle;
        [class*=logo_right] & {
          padding-left: 0;
          padding-right: 1.25em;
          text-align: right;
        }
        padding-top: 5px;
        padding-bottom: 5px;
        img {
          max-width: 100% !important;
          max-height: 50px !important;
        }
      }

      @at-root .mobile-utils__wrapper {
        display: table-cell;
        height: 100%;
        float: none;
        text-align: right;
        white-space: nowrap;

        [class*=logo_right] & {
          text-align: left;
          direction: ltr;
        }
      }
    }
  }
  /* togglelable secondary */
  .secondary-navbar__wrapper[class*=navbar-toggleable-] {
    padding: 0;
    border: none;
    z-index: 200;
    .secondary-nav__nav {
      padding-top: 0;
      padding-bottom: 0;
    }
    .hamburger-toggler__container {
      display: block;
      height: 30px;
      line-height: 30px;
      width: 100%;
      padding-left: 0;
      text-align: right;
      &:before {
        content: none
      }
      .ham__navbar-toggler {
        display: inline-block;
        @at-root .secondary-navbar__wrapper .ham-toggler-menu__span {
          height: 1px;
          display: inline-block;
          vertical-align: middle
        }
      }
    }
  }

  /* Limit nav-collpase height to the viewport when sticky mobile */
  .czr-sticky-mobile .navbar-collapse {
    position: absolute!important;
    background: inherit;
    z-index: 100;
    left: 0;
    &::before, &::after {
      display: table;
      content: '';
      line-height: 0;
    }
    &.show.limited-height {
      overflow: auto;
    }
  }
}


.mobile-woocart__container,
.hamburger-toggler__container {
  float: none;
  height: 100%;
  vertical-align: middle;
  display: inline-table;
  margin-left: 0;
  margin-right: 0;
  padding-right: 1.25em;
  padding-left: 1.25em;
  [class*=logo_right] &::before {
    left: auto;
    right: 0;
  }
}

.mobile-woocart__container .woocart,
.hamburger-toggler__container .ham__navbar-toggler {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}


.primary-nav__wrapper {
  height: inherit;
  background: inherit;
}



//@media screen and (min-width: 992px)
@include media-breakpoint-up(lg) {
  .primary-nav__utils .utils {
    margin: 0px -1*$base-line-height;
  }
}
.mobile-search__container {
  padding: 0px $base-line-height;
  margin: 0;
}
.primary-nav__utils .utils li {
  padding: 0px $base-line-height;
  margin: 0;
}



/* Fix */
//@media screen and (min-width: 992px)
@include media-breakpoint-up(lg) {
  .primary-nav__menu.regular {
    margin-left: -1em;
    margin-right: -1em;
    > li {
          margin-left: 1em;
          margin-right: 1em;
    }
  }

  .primary-nav__menu-wrapper.pull-menu-left {
    text-align: left;
  }
  .primary-nav__menu-wrapper.pull-menu-right {
    text-align: right;
  }

}