/* Branding */
.branding__container {

    @extend .display-flex;
    width: 100%;

    @include media-breakpoint-up(lg) {
        max-width: 33%;
        width: auto;
    }

    @at-root .branding {
        @extend .display-flex;
        padding: $base-line-height 0;
        overflow: hidden;
        max-width: 70%;

        @include media-breakpoint-up(lg) {
            max-width: none;
        }

        .navbar-brand {
            font-size: 1.75em;
            margin: 0;

            @at-root .navbar-brand img {
              width: auto;
              max-width: 100%;
            }

            &.has_tagline {
                margin: 0;
                font-size: 1.5em;
                line-height: 1.5em;
            }

        }
        .navbar-brand-tagline {
              font-size: 0.8em;
              line-height: normal;
              padding: 0;
              margin: 0;
              width: 100%;
              @extend .bold;
        }
        .navbar-brand + .navbar-brand-tagline {
              margin-top: 2/3*$base-line-height;
        }

    }

    .branding,
    .mobile-utils__wrapper {
        @extend .display-flex;
        flex-shrink: 1; //ie (10 at least) doesn't consider this as default while it should
    }
}


/* This styles the utils in desktop and mobiles */
.nav__utils {
    @extend .display-flex;

    .utils {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;

        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }

    li {
        @extend .display-flex;
    }

    /* utils li a centered aligned */
    @at-root .woocart.cart-contents, .desktop_search__link {
        @extend .utils_links;
    }

     @at-root .woocart.cart-contents {
        @include display-flex();
        sup {
            top: 0;
        }
    }
}

/*
* Revert header (not topbar) elements order when logo right
*/
[class*=logo_right] .primary-navbar__wrapper-new {
  &,
  .branding__container,
  .primary-nav__container_new,
  .nav__utils .utils {
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: row-reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important
  }
}