
/* NEW */
.primary-navbar__wrapper {
  margin: 0 -1*$base-line-height-root;
}
.secondary-navbar__wrapper .menu-item a {
  padding-top: .425rem;
  padding-bottom: .425rem;
}

.secondary-navbar__wrapper {
   // display:block; //flex-hurt
    vertical-align: middle;
    padding: 0 $base-line-height-root;
    margin: 0 -1*$base-line-height-root;
    position: relative;
    & > div {
      background: inherit;
    }

    li {
      @extend .small;
      display: inline-block;
      float:left;
      position: relative;
      vertical-align: middle;
    }
}
.secondary-nav__nav {
  padding-top: $base-line-height/2;
  padding-bottom: $base-line-height/2;
    ul a {
         display:inline-block;
         position: relative;
         vertical-align: middle;
  }
}
.secondary-nav__socials {
   text-align:right;
  .socials {
    float:right;
  }
}


.primary-nav__container, .branding__container  {
  display: block;
  float: left;
}

.mobile-utils__wrapper {
  vertical-align: middle;
  float: right;
}
.hamburger-toggler__container,
.mobile-woocart__container
{
    position: relative;
    float:left;
    display:inline-block;
    vertical-align:middle;
    margin:0 auto;
    text-align:center;
    margin-right:$base-line-height;
}
/*
.primary-nav__utils .utils li {
    font-size: 1rem;
}*/
.hamburger-toggler__container, .mobile-woocart__container {
    font-size: 17px;
}
 /* BRANDING */

.branding__container {
    position: relative;
    height:auto;
    text-align: left;
 }

.branding {
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
   /* max-height: 70px;
    line-height: 70px;
    height:70px;*/
   //@media screen and (min-width: 480px) and (max-width: 667 px) ??
   //@media screen and (min-width: 480px) and (max-width: 667 px)
   /* @include media-breakpoint-between( xs, sm ) {
      max-width: 100px;
      width: 100px;
    }
    */
    .navbar-logo {
        font-size: 1.75em;
        margin-top:0;
        @at-root .navbar-logo img {
          /* max-height: 69px; */
          width: auto;
          max-width: none;
        }
    }
    .navbar-logo.has_tagline {
        margin: 0;
        font-size: 1.5em;
        line-height: 1.5em;
     /*   height: 68px; */
        display: inline-block;
        vertical-align: middle;
        height:auto;
        @at-root .navbar-brand-tagline {
            font-size: 0.5em;
            line-height: normal;
            padding: 0;
            margin: 0;
            margin-top: 4px;
            display: none;
            width: 100%;
            @extend .bold;
            //@media screen and (min-width: 992px)
            @include media-breakpoint-up(lg) {
              display: block;
            }

        }

    }
    a {
        position: relative;
        width:auto;
        padding: 0;
        margin-bottom: 0;
        display: block;
        span {
            display: block;
            width:100%;
           }
      }

}
.primary-navbar__wrapper {
    /* position: relative;
    line-height:70px;
     height:69px; */
    z-index:190;
    /*
    min-height: 1px;*/
    /*ie10 fix?*/
    .ie & { min-height: 70px !important;
      & .primary-nav__container  { height: auto !important; }
    }

 }

.primary-nav__container {
  .primary-nav__socials {
      float:right;
  }
  li { height: 100% }
  .primary-nav__nav {
      width: 100%;
      /*text-align: right;*/
     /* min-height: 1px;
      .ie[class*=ie1] & { min-height: 0px } */
      .primary-nav__menu-wrapper
      {
        padding-left: 2.5em;
        display:inline-block;
        position: relative;
        /*margin:0 auto;
        left: 0;*/
        /*max-width:calc(100% - 200px); */
        /*width: auto;*/
        //@media (min-width: 992px)
        @include media-breakpoint-up(lg) {  margin-right: $base-line-height*2; }

       @at-root .primary-nav__nav .primary-nav__menu {
          text-align:center;
          display:inline-block;
      }
      .primary-nav__menu {
          @extend .small;
          @extend .caps;
          @extend .bold;
          @extend .letter-spacing-1;

          & > li {
            //@media screen and ( min-width: 992px)
            @include media-breakpoint-up(lg) {
               float:none;
               position: relative;
               vertical-align:initial;
               display:inline-block;
               & > a {
                    position:relative;
                    display:inline-block;
                    vertical-align:bottom;
                    padding:0;
                    @include clearfix();

                }
            }
          }
          li a {
             span.caret__dropdown-toggler  { position:relative; float: right; height:inherit; }
             & > span:first-of-type { display:block; position:relative; float:left; }
          }
     }
   }

  }



.primary-nav__utils {
  position:relative;
  display: inline-block;
  float:none;
  text-align:right;
  .utils {
    display: inline;
    height: inherit;
    vertical-align: bottom;
   /* li a { height:60px; line-height:60px }*/
  }

  .primary-nav__socials {

     /*font-size: 1rem;*/
     position: relative;
     & .socials {  /*margin-left: $base-line-height;  */ position: relative; }
     // padding-left: $base-line-height*2;
     //@media (max-width: 992px)
     @include media-breakpoint-down(md) {
      //Decided to hide the socials in mobiles
       display: none;
      /*
       width: 100%;
       float:none;
       text-align:  left;
       & .socials { margin-left: 0; padding-left: $base-line-height }
       li { display: inline-block; width: auto }
      */
     }
  }
}
}
.primary-nav__menu li { position: relative }
/*.primary-nav__socials .socials { font-size: 1rem; }*/
.primary-nav__socials .socials li { @extend .small;  }
/*
* Header types: Absolute or Standard(pushing) and Sticky
*/
/*
* On sticky: visibilities
*/
.sticky-enabled {
  .czr-menu-off .primary-nav__menu,
  .czr-title-logo-off .navbar-logo,
  .czr-tagline-off .navbar-brand-tagline {
    display: none !important;
  }
}

.navbar-sticky,
.header-absolute .topnav_navbars__wrapper {
  left: 0;
  right: 0;
  z-index: 100
}
@include media-breakpoint-up(lg) {
  .header-absolute {
    .topnav_navbars__wrapper,
    #sticky-placeholder {
      position: absolute;
    }
  }
}
.navbar-sticky.animating { top: -20% !important }

/* Sticky header */
.navbar-to-stick.navbar-sticky {
  position: fixed;
  &:not(.animating) {
    top: 0;
    .admin-bar & {
      @media screen and ( min-width: 783px ) {
        top: 30px;
      }
      @media screen and ( max-width: 782px ) and  ( min-width: 601px ) {
        top: 46px;
      }
    }
  }
  @include transition(top 0.5s,down 0.5s,height 0.5s,background 0.5s ease-in-out);
  //@include box-shadow(0, 0, 3px, rgba(0, 0, 0, 0.15) );
  .header-transparent & {
    @include box-shadow(1px, 2px, 1px, rgba(102, 102, 102, .08));
  }
  .secondary-navbar__wrapper  { display:none; }
}

@include media-breakpoint-up(lg) {
  .branding__container { left:$base-line-height; }
  .hamburger-menu .mobile-utils__wrapper { display:inherit !important; }
  .primary-navbar__wrapper {
    white-space: nowrap;
    margin: auto;
  }
  .primary-nav__container {
    float: none;
    padding-left: 2.5em;
    white-space: nowrap;
  }
  .primary-nav__utils {
    white-space: normal; /* firefox patch */
    .nav.utils > li:first-of-type { position: initial }
  }
}
.woocart.cart-contents,
.desktop_search__link {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
//@media (max-width: 991px)
@include media-breakpoint-down(md){
    .primary-nav__container { width: 100%; }
    .primary-nav__container .primary-nav__utils {
      position: relative;
      display: block;
      margin-bottom:$base-line-height;
      float:none;
    }
    .navbar-sticky {
      padding : 0;
     .primary-nav__container { padding-top:0; }
   }
    .branding__container {
       position: relative;
       padding: 0;
       /*display: inline-block;
       vertical-align: middle;*/
       width: 100%;
       @include transition(all, 0.6s ease);
       .branding {

            margin-top:0;
            margin-left:$base-line-height;
            img { max-height: 50px }
            p { padding-top: $base-line-height/4;}
      }
    }

    .primary-navbar__wrapper, .primary-nav__container { padding:0;  position: relative; }
    .primary-nav__container  .primary-nav__nav  {
          padding:0;
          & .primary-nav__menu-wrapper {
            display: block;
            padding:0;
            float:none;
            width:100%;
            max-width:100%;

            @at-root .primary-nav__nav .nav__menu {
                  width:100%;
                  display: block;
                  & > li + li { display: block; margin-left: 0; margin-right: 0 }
                  /* & > li a    { display: block; line-height: 3em; height:3em; } */
                  & > li  {
                    padding: $base-line-height $base-line-height-root*2;
                    margin-right:0; margin-left:0;
                 }
             }
             @at-root [class*=navbar-toggleable-] .secondary-nav__nav .nav__menu {
                   width:100%;
                   display: block;
                   & > li + li { display: block; margin-left: 0; margin-right: 0 }
                   & > li  {
                     padding: 1em 1.5rem;
                     margin-right:0; margin-left:0;
                  }
              }
          }

    }
    @at-root .secondary-navbar__wrapper[class*=navbar-toggleable-] .secondary-nav__container,
    .primary-nav__container .primary-nav__nav  { width:100%; text-align:left;}

    @at-root .secondary-navbar__wrapper[class*=navbar-toggleable-] .secondary-nav__nav .nav__menu li,
    .primary-nav__container .primary-nav__nav  li { display: block; width:100%; text-align:left; }

    .primary-nav__container .primary-nav__utils .socials { margin-left:0; margin-top: $base-line-height*2; }

    .primary-nav__container .primary-nav__utils .utils {
      display:block;
        li { padding:0 $base-line-height*2; display:block; }
        .search__form {
          .search-field { width: 90% }
          label {
            line-height: normal;
              border-color: $black;
            }
        }
    }

    @at-root [class*=navbar-toggleable-] .secondary-nav__nav .nav__menu,
    .primary-nav__container {
      li { position: relative; width:100% }
    }
    @at-root .primary-nav__container {
      .primary-nav__search {
        line-height: 2*$base-line-height;
        .czr-form .form-group.in-focus label {
          @include transform(translateY(-100%));
          .icn-close { @include transform(translateY(200%)); }
        }
        .czr-form .form-group { margin: 2rem 0 $base-line-height-root*2 0;  }
      }
   }
}


/**
* Dropdown menu direction [SNAKE]
*/
.dropdown-menu {
  &.open-right {
    left: 0;
    right: auto;
    @at-root .open-right .dropdown-menu:not(.open-left),
             .dropdown-menu .dropdown-menu.open-right {
      left: 100%;
      right: auto;
    }
  }

  &.open-left {
    left: auto;
    right: 0;
    @at-root .open-left .dropdown-menu:not(.open-right),
            .dropdown-menu .dropdown-menu.open-left {
      right: 100%;
      left: auto;
   }
  }
}

/**
* In desktops when resizing below the "collapsing mobile menu" treshold
* always expand submenus when .tc-open-on-hover (which is not available in mobiles )
*/
//@media (max-width: 991px)
@include media-breakpoint-down(md){
  .czr-open-on-hover .dropdown-menu {
    display: block !important;
  }
  /*.czr-open-on-hover .caret__dropdown-toggler {
    display: none !important;
  }*/
}
