//the opacity of following images is set to 1 when centering is done
//@see the js front czrapp.methods.JQPlugins::centerImages()
.tc-grid-figure img,
.widget-front .tc-thumbnail img,
.js-centering.entry-media__holder img,
.js-centering.entry-media__wrapper img {
  opacity:0;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
//in case js is disabled or there's an problem when centering the images, the following classes make sure opacity is set to 1
.no-js img,
img.h-centered,
img.v-centered,
img.opacity-forced { opacity:1!important }