//
// Woocommerce
//

.woocommerce {
  a.remove {
    margin-left: auto;
    margin-right: auto;
  }

  //buttons
  #respond input#submit,
  input#submit,
  input.button,
  a.button,
  .button.add_to_cart_button,
  input#submit.alt.disabled,
  input.button.alt.disabled,
  button.button.alt.disabled,
  a.button.alt.disabled,
  input#submit.alt,
  input.button.alt,
  a.button.alt,
  button.button.alt {
    @extend %btn_base;
  }

  #respond input#submit,
  input#submit,
  input.button,
  a.button,
  .button.add_to_cart_button {
    @extend .btn-skin;
  }

  #ship-to-different-address label {
    font: inherit;
    margin: 0;
    letter-spacing: inherit;
    color: inherit;
  }
  #ship-to-different-address-checkbox {
    margin: -1px;
  }

  input#submit[class*=alt],
  input.button[class*=alt],
  a.button[class*=alt],
  button.button[class*=alt] {
    @extend .btn-skin-dark;
  }

  input#submit.alt.disabled,
  input.button.alt.disabled,
  button.button.alt.disabled,
  a.button.alt.disabled {
    @extend .btn-skin-dark;
  }

  //fix circular on sale labels over woocommerce thumbs
  span.onsale {
    @include box-sizing( content-box );
  }

  //messages
  .woocommerce-message,
  .woocommerce-error-list,
  .woocommerce-info {
      border-width: 2px;
      border-style: solid;
      padding: $base-line-height 0 1em;
      color: $black;
      font-family: $serviceFont;
      @extend .small;
      @extend .thick;
      @extend .letter-spacing-2;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      position: relative;
      background: none;

      &::before {
        content: none;
      }

  }

  //form
  form {
    .form-row-wide {
      width: 100%;
    }

    .form-row {
      margin: 0 0 $base-line-height;

      .input-checkbox {
          display: inline-block;
          margin: 0;
      }
    }
    &.checkout_coupon .form-row {
      margin: 0;
    }

    @at-root #add_payment_method #payment ul.payment_methods li input,
    .woocommerce-cart #payment ul.payment_methods li input,
    .woocommerce-checkout #payment ul.payment_methods li input {
      border-color: $grey;
    }

    #customer_details {
      margin: 0 -15px;
      width: auto;
      h3 {
        margin-bottom: $base-line-height;
      }
    }

    @at-root .woocommerce div.product form.cart .variations {
      td,
      th {
        vertical-align: middle;
      }

      label {
        margin-bottom: 0
      }
    }
    /*
    .woocommerce-variation-add-to-cart,
    &.cart:not(.variations_form) {
      @extend .display-flex;
    }*/
  }

  fieldset {
    margin-top: 2*$base-line-height;
  }

  section.up-sells,
  section.related {
    clear: both;
  }

  //cols conflicting with bootstrap
  @at-root .woocommerce #content [class*=col],
            #content .woocommerce [class*=col] {
    max-width: none;
  }

  //fix flex gallery item displaying numbers before
  @at-root .woocommerce-product-gallery ol li:before {
    content: none;
  }
}


//table
#add_payment_method .cart-collaterals .cart_totals table,
.woocommerce-cart .cart-collaterals .cart_totals table,
.woocommerce-checkout .cart-collaterals .cart_totals table,
.woocommerce table.shop_table {
    @extend %table-base;
    @extend %table-style;
}


// WooCart
.nav__woocart {
  position: relative;
  .product_list_widget {
    min-height: 3em;
    max-height: 30vh;
    overflow-y: auto;
    .mCustomScrollBox {
      min-height: inherit;
    }
  }
  ul li {
    display: block !important;
    width: 100%;
    padding: $base-line-height/2 !important;
    margin-left: 0 !important;
    white-space: normal;
    position: relative;
    &::before {
      content: none !important;
    }
  }
  .widget_shopping_cart {
    min-width: 320px;
    max-width: 50vw;
    li,
    p.buttons,
    p.total {
      padding: 1em $base-line-height;

    }
    li a {
      padding: 0;
      margin: 0;
      white-space: normal;
      display: block !important;
      &::before {
        content: none !important;
      }
    }

    p.buttons,
    p.total {
      margin: 0 $base-line-height/2;
      text-align: center;
      .button {
        display: block !important;
        padding: 1em 15px;
         &:nth-child(odd) {
            margin-bottom: .6180469716em;
        }
      }
    }
    .product_list_widget li a.remove {
      position: relative;
      float: left;
      top: auto;
      display: block;
      line-height: 1.15;
      left: -.25em;
      z-index: 9;
    }
    .product_list_widget img {
      margin-left: 1em;
      float: right;
    }
  }

}



//force fpu background to white if fpu bg set to default color
//TODO: change default color for czr4 in FPU
.fpc-container[data-bgcolor="#fafafa"] {
  background-color: #fff !important;
  .fpc-widget-front .czr-link-mask {
    border-color: #fff !important;
  }
}
//when in #content reset fpc-containet padding and its row child margin for a better alignment
#content[class*=col-] > .fpc-container {
  padding: 0;
  margin: 0 -15px;
  > row {
    margin: 0;
  }
}