
//slider section

//slider color
.section-slider {
  .czr-filter {
    @include filter($black, $white, 0.5);
    + .slider-text { color: $white; }
  }
  .czr-has-no-dark-overlay .czr-filter:before {
      content :none;
  }
}


.section-slider {
  @extend %vertical-align-parent;
  overflow: hidden;
}

[id^=customizr-slider-] {
  .czrs-title, .czrs-subtitle {
    color: #fff;
  }

  .czrs-title {
    font-weight: 700;
    margin: 0 0 0.4em;
    &.very-big {
      font-size: 65px;
      line-height: 1.4em;
    }
  }

  .czrs-subtitle {
      margin: 0 0 0.5em;
      font-size: 30px;
  }
  .czrs-cta {
      white-space: normal; //<-allow long phrases to wrap on a new line
      word-break: break-word; //<-allow braking long words
  }
  .bg-link {
    z-index: 4
  }
  .btn-edit {
    position: absolute;
    &.slider-btn-edit {
      bottom: 10px;
      left: 10px
    }
    &.slide-btn-edit {
      bottom: 10%;
      right: 10px;
      z-index: 4
    }
  }
  .carousel-inner,
  .carousel-cell {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  // hide nav in mobile
  // @media (max-width: 575px)
  @include media-breakpoint-down(xs) {
    .czr-carousel-nav {
      display: none;
    }
  }
}

.czr-slider-holder {
  position: relative;
  height: 100%;
  width: 100%;
  //avoid visible fine line on loading in some viewports
  //due to the not integer height in px
  @include transform ( translateZ(0) );
}

#main-wrapper .section.custom  {
  margin: $base-line-height*2;
}