.about-wrap h3 {
	line-height: 26px;
}

.about-wrap .feature-section div {
	text-align: center;
}

.about-text.tc-welcome {
	margin: 1em 0;
}

.about-wrap .feature-section.three-col img.tc-donate {
	background: none;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.tc-follow {
	margin-bottom: 11px;
}

.button-primary.review-customizr {
	margin-top: 9px;
}

