@font-face {
    font-family: 'entypo';
    src: url( '../../assets/css/fonts/fonts/entypo.eot' );
    src: url( '../../assets/css/fonts/fonts/entypo.eot?#iefix' ) format( 'embedded-opentype' ),
         url( '../../assets/css/fonts/fonts/entypo.woff' ) format( 'woff' ),
         url( '../../assets/css/fonts/fonts/entypo.ttf' ) format( 'truetype' ),
         url( '../../assets/css/fonts/fonts/entypo.svg#genericonsregular' ) format( 'svg' );
    font-weight: normal;
    font-style: normal;
}

.about-wrap h3 {
	line-height: 26px;
}
#customizr-admin-panel.about-wrap .feature-section {
		margin-top: 0px;
}
.about-wrap .feature-section div {
	text-align: center;
}

.about-text.tc-welcome {
	margin: 1em 0;
}

.about-wrap .feature-section.three-col img.tc-donate {
	background: none;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	max-width: none;
	float: none;
}


.images-stagger-right img {
	float: right;
	padding-left: 20px;
}

.images-stagger-left img {
	float: left;
	padding-right: 20px;
}

.tc-follow {
	margin-bottom: 11px;
}

.button-primary.review-customizr {
	margin-top: 9px;
}

.tc-upgrade-notice {
	background-color: #FFFFE0;
	border: 1px solid #E6DB55;
	padding: 0px;
	margin: 5px 0px;
	text-align: center;
}

.tc-upgrade-notice p {
	line-height: 1em;
}

/* ADMIN BAR
    -------------------------------------------------- */
#wpadminbar #wp-admin-bar-tc-customizr-help .ab-item:before, li#wp-admin-bar-tc-customizr-help a:before {
  font-family: 'entypo';
  content: "\E788";
  color: #FFF;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  padding-right: 0px;
  top: 5px;
  font-size: 30px;
  position: relative;
  line-height: 0px;
}

#wpadminbar #wp-admin-bar-tc-customizr .ab-item:before, li#wp-admin-bar-tc-customizr a:before {
  font-family: 'entypo';
  content: "\E79A";
  color: #FFF;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  padding-right: 0px;
  top: 4px;
  font-size: 30px;
  position: relative;
  line-height: 0px;
}

li#wp-admin-bar-tc-customizr-help a {
	color: #FFF;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #27CDA5;
	background-image: -moz-linear-gradient(top, #27CDA5, #1B8D71);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#27CDA5), to(#1B8D71));
	background-image: -webkit-linear-gradient(top, #27CDA5, #1B8D71);
	background-image: -o-linear-gradient(top, #27CDA5, #1B8D71);
	background-image: linear-gradient(to bottom, #27CDA5, #1B8D71);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9db668' , endColorstr='#ff768d44' , GradientType=0);
	border-color: #1B8D71 #1B8D71 #4B5A2B;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}


#wpadminbar .ab-top-menu>li#wp-admin-bar-tc-customizr-help:hover>.ab-item {
  color: #FFF;
  background: #1B8D71; /* Old browsers */
background: -moz-linear-gradient(top,  #1B8D71 1%, #27CDA5 100%, #27CDA5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#1B8D71), color-stop(100%,#27CDA5), color-stop(100%,#27CDA5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1B8D71 1%,#27CDA5 100%,#27CDA5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1B8D71 1%,#27CDA5 100%,#27CDA5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1B8D71 1%,#27CDA5 100%,#27CDA5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1B8D71 1%,#27CDA5 100%,#27CDA5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1B8D71', endColorstr='#27CDA5',GradientType=0 ); /* IE6-9 */
}

li#wp-admin-bar-tc-customizr a {
	background-color: #21759B;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#2A95C5),to(#21759B));
	background-image: -webkit-linear-gradient(top,#2A95C5,#21759B);
	background-image: -moz-linear-gradient(top,#2A95C5,#21759B);
	background-image: -ms-linear-gradient(top,#2A95C5,#21759B);
	background-image: -o-linear-gradient(top,#2A95C5,#21759B);
	background-image: linear-gradient(to bottom,#2A95C5,#21759B);
	border-color: #21759B;
	border-bottom-color: #1E6A8D;
	-webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
	box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.5);
	color: #FFF;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


#wpadminbar .ab-top-menu>li#wp-admin-bar-tc-customizr:hover>.ab-item {
	background: #21759b; /* Old browsers */
	background: -moz-linear-gradient(top,  #21759b 0%, #2e9fd2 100%, #27CDA5 100%, #2e9fd2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#21759b), color-stop(100%,#2e9fd2), color-stop(100%,#27CDA5), color-stop(100%,#2e9fd2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #21759b 0%,#2e9fd2 100%,#27CDA5 100%,#2e9fd2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #21759b 0%,#2e9fd2 100%,#27CDA5 100%,#2e9fd2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #21759b 0%,#2e9fd2 100%,#27CDA5 100%,#2e9fd2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #21759b 0%,#2e9fd2 100%,#27CDA5 100%,#2e9fd2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21759b', endColorstr='#2e9fd2',GradientType=0 ); /* IE6-9 */
	border-color: #1B607F;
	-webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
	box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

h1.need-help-title:before {
	font-family: 'entypo';
	color:#27CDA5;
	content: "\E788";
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	padding-right: 17px;
	top: 11px;
	font-size: 2.5em;
	position: relative;
	line-height: 0px;
}

#customizr-admin-panel .button-secondary.customizr-help {
	line-height: 25px;
	padding-top: 11px;
	height: 51px;
	font-size: 20px;
	font-family: 'georgia';
	width: 95%;
	white-space: normal;
}

.about-wrap .feature-section .tc-follow img {
	background: none;
	max-width: none;
	float: none;
}

.about-wrap #showcase .feature-section img {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}