#customize-info .accordion-section-title {
	padding-bottom: 0px;
}
#tc-donate-customizer {
	background-color: #FFF;
	color: #666;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #EEE;
	margin: 0;
	padding: 4px 15px 4px;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#tc-donate-customizer h3 {
	font-size: 13px;
	margin-bottom: 1px;
	margin-top: 0px;
	width: 94%;
}
#tc-donate-customizer .tc-notice {
	padding-bottom: 4px;
}
#tc-donate-customizer p {
	margin: 0px;
}
#tc-donate-customizer .tc-donate-link {
	display: block;
	text-align: center;
}
.donate-alert {
	display: none;
	clear: both;
	background-color: #DFF0D8;
	border-color: 1px solid #D6E9C6;
	color: #468847;
	padding: 10px;
	margin-top: 0px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.donate-alert p {
	font-size: 12px;
}

#tc-donate-customizer .tc-close-request{
	position: absolute;
	right: 13px;
	top: 9px;
	font-size: 13px;
	line-height: 19px;
	height: 21px;
	margin: 0;
	padding: 0 4px 0px;
}
.tc-hide-donate, .tc-cancel-hide-donate {
	padding: 0 5px 1px;
}

.control-section .accordion-section-title {
	padding: 6px 20px!important;
}
.control-section .accordion-section-title:after {
	top: 7px;
}
#customize-theme-controls h3.accordion-section-title {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
#customize-theme-controls .control-section:hover .accordion-section-title, #customize-theme-controls .control-section .accordion-section-title:hover, #customize-theme-controls .control-section.open .accordion-section-title, #customize-theme-controls .control-section .accordion-section-title:focus {
	background: #2EA2CC;
	-webkit-box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
	box-shadow: inset 0 1px 0 rgba(120, 200, 230, 0.6);
	color: #FFF!important;
	-webkit-transition-property: border,background,color;
	-moz-transition-property: border,background,color;
	transition-property: border,background,color;
	-webkit-transition-duration: .05s;
	-moz-transition-duration: .05s;
	transition-duration: .05s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
#customize-theme-controls .control-section:hover .accordion-section-title::after, #customize-theme-controls .control-section .accordion-section-title:hover::after, #customize-theme-controls .control-section.open .accordion-section-title::after, #customize-theme-controls .control-section .accordion-section-title:focus::after {
	color: #FFF;
}
.customize-control-checkbox label {
	line-height: 16px;
}
.customize-control-title {
	color: #2E2E2E;
}
.tc-customizr-title {
	color: #21759B;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #FFF;
	margin: 1em 0em 0em 0em;
	font-size: 15px!important;
}
.tc-after-button {
	border-color: white;
	margin-top:15px;
}
.tc-emphasize {
	line-height: 1.2em;
	color: #2E2E2E;
}
i.tc-notice {
	display: block;
	clear: both;
}
span.tc-notice {
	color: #999;
	font-size:12px;
	font-style: italic;
	clear: both;
	display: block;
}
.tc-customizer-separator-invisible {
	border:none;
	margin-top:15px;
}
.tc-skin-gen-label {
	float: left;
}
.tc-skin-gen-color-picker {
	float: right;
}
.tc-number-label {
	float: left;
}
.tc-number-input {
	float: right;
}
.tc-check-label {
	float: left;
	max-width: 85%;
}
input.iphonecheck {
	float: right;
	min-height: 18px;
}
.tc-font-select {
	float: left;
}