

$primary-color : $black;
$primary-color-inverted : $white;

$secondary-color-light  : $grey-light;


@mixin headerskin($skin-overlay-color, $text-color, $skin ) {

  $primary-color             : $text-color;
  $background-color          : $skin-overlay-color;
  $primary-color-inverted    : invert($primary-color);
  $background-color-inverted : invert($background-color);
  $secondary-color-light     : rgba($primary-color, 0.7);//$grey;
  $secondary-color           : if( $primary-color == $white, $grey-light, $grey-dark );

  @if ( $primary-color == $white ) {
      .tc-header {
        h1, h2, h3, h4, h5, h6 {
          color: $primary-color;
        }
      }
  }

  // overlays skin
  .czr-overlay {
    background: rgba($background-color, 0.98);
    color: $primary-color;
    a {
      color: $secondary-color-light;
      &:hover {
        color: $primary-color;
      }
    }
  }
  // end overlays skins

  //menu button dark
  @if ( 'dark' == $skin ) {
    .add-menu-button {
      color: $primary-color;
    }
  }

  #tc-sn {
    outline-color: rgba($primary-color, 0.09);
  }

  .ham__toggler-span-wrapper .line {
    background: $primary-color;
  }


  .tc-header .socials {
    a, a:focus, a:active { color: $primary-color; }
    a:hover { color: $secondary-color-light; }
  }

  #tc-sn .tc-sn-inner,
  .tc-header {
    color: $primary-color;
    background: $background-color;
  }


  // Sticky header transparency
  .sticky-transparent.is-sticky {
    @if ( 'light' == $skin ) {
      .mobile-sticky,
      .desktop-sticky {
        background: rgba( $background-color, 0.9 );
      }
    } @else {
      .mobile-sticky,
      .desktop-sticky {
        background: rgba( $background-color, 0.7 );
      }
    }
    .mobile-nav__nav {
      background: rgba( $background-color, 0.9 );
    }
  }

  .dropdown-item:not(:last-of-type),
  .topbar-navbar__wrapper,
  .header-navbars__wrapper  {
    border-color: rgba($primary-color, 0.09);
  }

  .nav__utils {
      a, a:focus, a:active {
        color: $primary-color;
      }
      .ham-toggler-menu.collapsed:hover {
        .line {
          background-color: $secondary-color-light;
        }
      }
      a:hover, a.current-active {
        color: $secondary-color-light;
      }
  }

  //progress bar effect
  //
  //was previously based on the primary-color (foreground) inversion,
  //now based on the background-color inversion.
  //This because if we choose the primary-color as red, it's inverted
  //color is some green => not what we want.
  // it was: background-color: rgba( $primary-color-inverted, 0.15);
  //primary-color==foreground-color
  .dropdown-item::before {
    background-color: rgba( $background-color-inverted, 0.045);
  }

  .dropdown-menu,
  .dropdown-item:active,
  .dropdown-item:focus,
  .dropdown-item:hover {
    background: $background-color;
  }

  .dropdown-menu {
    color: $primary-color;
  }

  .navbar-brand-sitename {
      color:$primary-color;
      &.czr-underline span::after {
        background: $primary-color;
      }
  }

  .header-tagline {
    color: $secondary-color
  }

  [class*=nav__menu] {

    & li > a {
      color: $primary-color;
    }

    & li > a > span:first-of-type::before {
      background-color: $primary-color;
    }


    & li > a:hover,
    & li.show:not(.dropdown-item) > a,
    &  li:not(.dropdown-item).current-active > a,
    &  li.current-menu-item > a {
      color: $secondary-color;
    }

    .dropdown-menu a { color: $primary-color; }
    .dropdown-item  a { color: $secondary-color; }
    .dropdown-item > a:hover { color: $primary-color; }

  }


  .vertical-nav > li:not(:last-of-type),
  .mobile-nav__container,
  .header-search__container,
  .mobile-nav__nav {
      border-color: rgba($primary-color, 0.075);
  }

  .tc-header .czr-form, .czr-overlay .czr-form {
      label {
        color: $primary-color;
      }
      .form-group.in-focus label {
        color: $secondary-color-light;
      }
      input:not([type='submit']):not([type='button']):not([type='number']):not([type='checkbox']):not([type='radio']),
      textarea,
      .form-control {
        color: $primary-color;
        border-color: $primary-color;
      }
  }

}
// end mixin
.header-skin-light  {
  @include headerskin($white, $black, 'light');
}

.header-skin-dark  {
  @include headerskin($black, $white, 'dark');
}
