

$primary-color : $black;
$primary-color-inverted : $white;

$secondary-color-light  : $grey-light;
$secondary-color-dark   : $grey;

@mixin headerskin($skin-overlay-color, $text-color, $skin ) {

  $primary-color           : $text-color;
  $background-color        : $skin-overlay-color;
  $primary-color-inverted  : invert($primary-color);
  $secondary-color-light   : $grey;
  $secondary-color: null;

  @if ( $primary-color == $white) {
     $secondary-color : $grey-light;
  }
  @else {
      $secondary-color : $grey-dark;
  }
  @if $primary-color == $white {
      .tc-header {
        h1, h2, h3, h4, h5, h6 {
          color: $primary-color;
        }
      }
  }
  // overlays skin
  .czr-overlay {
    background: rgba($background-color, 0.98);
    color: $primary-color;
    a { color: $secondary-color-light; }
    a:hover { color: $primary-color; }
  }
  // end overlays skins

  //menu button dark
  @if ( 'dark' == $skin ) {
    .add-menu-button {
      color: $primary-color; @include transition
    }
  }

  #tc-sn {
    outline: 1px solid rgba($primary-color, 0.09);
  }

  .ham__toggler-span-wrapper .line {
    background: $primary-color;
  }


  .tc-header .socials {
    a, a:focus, a:active { color: $primary-color; @include transition (all 0.3s ease); }
    a:hover { color: $secondary-color-light; }
  }

  #tc-sn .tc-sn-inner,
  .tc-header {
    background: $background-color;
  }

  .header-navbars__wrapper,
  .topnav-navbars__container,
  .topnav-navbars__container [class*=navbar__wrapper],
  .mobile-nav__container,
  .mobile-nav__nav {
    background: inherit;
  }

  // Sticky header transparency
  .sticky-transparent.is-sticky {
    @if ( 'light' == $skin ) {
      .mobile-sticky,
      .desktop-sticky {
        background: rgba( $background-color, 0.9 );
      }
    } @else {
      .mobile-sticky,
      .desktop-sticky {
        background: rgba( $background-color, 0.7 );
      }
    }
    .mobile-nav__nav {
      background: rgba( $background-color, 0.9 );
      .dropdown-menu,
      .dropdown-item:focus,
      .dropdown-item:hover {
        background: none;
      }
    }
  }

  .header-navbars__wrapper  {
    border-bottom: 1px solid rgba($primary-color, 0.09);
  }

  .topbar-navbar__wrapper {
    border-bottom: 1px solid rgba($primary-color, 0.09);
  }

  header:not(.header-transparent) {
    .header-navbars__wrapper {
      @include box-shadow(0px, 2px, 2px, rgba(102, 102, 102, .08));
    }
  }

  .image__header .header-content {
    a { color:$primary-color; }
    a:hover { color:$secondary-color-light; }
    .entry-meta .tax__container:after { background-color:$primary-color }
    .entry-meta .tax__container a:after { color:$primary-color }
  }


  .nav__utils {
     color: $primary-color;
      a, a:focus, a:active { color: $primary-color; @include transition (all 0.3s ease);  }
      .ham-toggler-menu.collapsed:hover {
        span::after,
        span::before,
        span {
          background-color: $secondary-color-light;
        }
      }
      .ham-toggler-menu__span, a:hover, a.current-active { color: $secondary-color-light; }

      @include media-breakpoint-down(md) {
        .primary-nav__socials .socials { border-top: 1px solid rgba($primary-color, 0.09);  }
      }
  }

  .dropdown-item:before {
    background-color: rgba( $primary-color-inverted, 0.15);
  }
  .dropdown-menu,
  .dropdown-item:focus,
  .dropdown-item:hover {
    background: $background-color;
  }

  .dropdown-menu {
    color: $primary-color;
  }
  .branding {
    a {
      color:$primary-color;
      &.czr-underline span::after {
        content: "";
        position: absolute;
        width: 33%;
        height: 3px;
        bottom: 0;
        @if ( true == $is_rtl ) {
          right: 0;
        }
        @else {
          left: 0;
        }
        background: $primary-color;
      }
    }

  }
  .header-tagline { color: $secondary-color }
  .mobile-woocart__container a { color:$primary-color; }


  [class*=nav__menu] {

    & li > a {
      color: $primary-color;
    }

    & li > a > span:first-of-type{
      @include underlined ($primary-color, 2px);
      .topbar-nav__nav & { @include underlined ($primary-color, 1px); }
    }

    & li.show:not(.dropdown-item) > a > span:first-of-type,
    &  li:not(.dropdown-item).current-active > a > span:first-of-type,
    &  li.current-menu-item > a > span:first-of-type {
      @include underlined_highlight_before($primary-color);
    }

    & li > a:hover,
    & li.show:not(.dropdown-item) > a,
    &  li:not(.dropdown-item).current-active > a,
    &  li.current-menu-item > a {
      color: $secondary-color;
    }


    .dropdown-menu a { color: $primary-color; }
    .dropdown-item  a { color: $secondary-color; }
    .dropdown-item > a:hover { color: $primary-color; }

  }

  .dropdown-item:not(:last-of-type) {
     border-bottom: 0.5px solid rgba($secondary-color-dark, 0.15);
  }


  .vertical-nav > li:not(:last-of-type) {
      border-bottom: 1px solid rgba($primary-color, 0.075);
  }

  .mobile-navbar__wrapper {
    .mobile-nav__container {
      border-bottom: 1px solid rgba($primary-color, 0.075);
    }
    .mobile-nav__nav {
      border-top: 1px solid rgba($primary-color, 0.075);
    }
    .mobile-search__container {
      border-bottom: 1px solid rgba($primary-color, 0.075);
    }

  }


  header .czr-form, .overlay .czr-form {
      label {
         color: $primary-color;
      }
     .form-group.in-focus label {
       color: $secondary-color-light;
     }
     input:not([type='submit']):not([type='button']):not([type='number']):not([type='checkbox']):not([type='radio']), textarea,
     .form-control {
       color: $primary-color;
       border-color: $primary-color;
     }
  }

}
// end mixin

.header-skin-light  {
  @include headerskin($white, $black, 'light');
}
.header-skin-dark  {
  @include headerskin($black, $white, 'dark');
}