.tc-placeholder-wrap {
    padding: 19px;
    background-color: #f5f5f5;
    border: 2px dotted #008ec2;
    position: relative
}

.tc-placeholder-wrap p {
    font-style: italic;
    font-size: 80%;
    color: #5a5a5a;
}
.tc-dismiss-notice {
    font-size: 11px;
    font-weight: 700;
    position: absolute;
    top: 1px;
    right: 6px;
}
.tc-dismiss-notice.tc-inline-dismiss-notice {
    position: static;
}
.tc-placeholder-wrap h4 {
    font-weight: bold;
}

.tc-placeholder-wrap a {
    text-decoration: underline;
}
.tc-post-list-smarload-help {
    margin-bottom: 2em;
}
.horizontal-footer.tc-placeholder-wrap .tc-placeholder-content,
footer#footer .tc-placeholder-wrap .tc-placeholder-content {
    text-align: center;
}
footer#footer .tc-placeholder-wrap a,
footer#footer .tc-placeholder-wrap h4,
footer#footer .tc-placeholder-wrap {
    color: #5a5a5a;
}
footer#footer .tc-placeholder-wrap {
    margin-top: -1px;
}