.tc-content-inner { max-width: 100% }

// Regular headings

.archive-header .archive-title,
.entry-header .entry-title {
  word-wrap: break-word;
  margin-top: 0em;
}
.archive-header .header-bottom,
.entry-header .header-bottom {
  @extend .service-font;
  color: $grey;
  position: relative;
  margin: 0 0 2em 0;
  a {
      @extend .semi-bold;
  }
}

.entry-header .tax__container, .entry-header .post-info {
  @extend .small;
}

.archive-header .header-bottom {
  margin-bottom: -1em;
}

.archive-header-description {
  margin: $base-line-height 0;
  padding-top: $base-line-height;
  padding-bottom: $base-line-height;
  border-top: 1px solid $grey-lightest;
  border-bottom: 1px solid $grey-lightest;
}
.archive-header .featurette-divider {
  margin-top: 1.8*$base-line-height;
}

//singular not full-width thumbnail vertical spacing depending on the location
//see #1127
//only margin-bottom if the thumb is shown before the title (and metas)
.tc-singular-thumbnail-wrapper.__before_regular_heading_title {
  margin-bottom: ms(-1); //in our ms configuration is: 0.83333em
}

//same margin top and bottom if the thumb is shown after the title (and metas)
//n.b. remember that not floating block element's margins merges
.tc-singular-thumbnail-wrapper.__after_regular_heading_title {
  margin: ms(-1) 0; //in our ms configuration is: 0.83333em 0
}
/* end regular headings */






article .entry-content {
  font-size: 1.2em;
  line-height: 1.65em;
  color:$post-entry;
  a {
    text-decoration: underline;
  }
  a.btn, a.button, a.remove {
    text-decoration: none;
  }
}




.page__header {
  text-align: center;
  min-height: 300px;
  .tax__container {
    position: relative;
    &::after {
      @include media-breakpoint-up(md) {
        content: "";
        position: absolute;
        width: $base-line-height*3;
        height: 3px;
        bottom: -1 * $base-line-height;
        margin:0 auto;
        left: 0;
        right:0;
      }
    }
    a {
      letter-spacing: 3px;
    }
  }
  &.image__header {
    height: calc(  100vh * ( 2 / 3 ) );
  }
  &.plain {
    height: calc( 100vh / 3 );
    background: $grey-lightest;
    .category-info { padding-top:$base-line-height*2; }
  }
  .header-content-inner {
    line-height: normal;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 0 15px;
    @include transform( translate( -50%, -50% ) );
    position: absolute;
  }
  .header-content {
    position: relative;
    z-index:5;
    height: 100%;
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
    .header-content-bottom {
      margin-top: $base-line-height*2;
      width:100%;
      text-align: center;
      div {
        display: inline-block;
        &::after {
            content: '|';
            margin: 0 0.625em;
        }
        &:last-of-type::after {
            content: none;
        }
      }
    }
    .post-info {
      @extend .small;
      font-family: $serviceFont;
      @extend .letter-spacing-1;
      @extend .semi-bold;
    }
    .archive-meta {
      display: block;
      p { margin-bottom: 0 }
    }
  }
  .entry-title, .archive-title {
    margin: 0;
    @include text-truncate();
  }
  .btn-edit {
    margin-bottom: 0;
    margin-top: 1em;
  }
  .entry-meta + .entry-title {
    margin-top: $base-line-height;
  }
}
.page-breadcrumbs {
  margin-top: 2em;
  margin-bottom: 2em;
  @extend .demi-small;
}


.post-content {
  color: $black;
}
section[class^="post-"] {
  margin: 2em 0 2em 0;
  .row { margin-top: $base-line-height; margin-bottom: $base-line-height*2 }
  .entry-meta { margin: 2em -15px }
}






.post-section-title {
  @extend .caps;
  @extend .small;
  @extend .letter-spacing-2;
    position: relative;
    text-align:center;
    margin:0 auto;
    margin-top: $base-line-height;
    margin-bottom: $base-line-height*2;
    span {
     display: inline-block;
       position: relative;

    }
    span::before, span::after {
      content: "";
      position: absolute;
      height: 10px;
      border-bottom: 2px solid $grey-lightest;
       top: 0;
      width: 1000%;
    }
    span:before {
      right: 100%;
      margin-right: $base-line-height;
  }
  span:after {
      left: 100%;
      margin-left: $base-line-height;
  }
}







.post-navigation {
  background-color: $grey-lightest;
  nav {
    padding-top: $base-line-height;
    padding-bottom: $base-line-height;
  }
  li {
    display: inline-block;
  }
  .nav-dir {
    display: block;
    > a {
      max-width: 100%;
    }
  }
  a i.arrow {
    font-size: 0.9em;
  }
  .page-numbers, a {
    font-family: $serviceFont;
    line-height: $base-line-height*3;
    height: $base-line-height*3;
    display: inline-block;
    vertical-align: middle;
    @include transition(all, .3s ease);
    position: relative;
    @extend .small;
    @extend .caps;
    @extend .letter-spacing-2;
  }
  .page-numbers {
    font-family: inherit;
  }
  //.post-prev a {
  //  left: $base-line-height;
  //}
  //.post-next a {
  //  right: $base-line-height;
  //}
  .meta-nav {
    @extend .display-flex;
    @include transition(all, 0.6s ease);
    @include opacity(0.5);
  }
  a:hover {
    .meta-nav {
      @include opacity(1);
    }
  }
  .meta-nav-title {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 0.9em;
  }
}






.col-avatar-80   { width: 80px; float:left; display:block; }
.col-avatar-64   { width: 64px; float:left; display:block; }
.col-avatar-48   { width: 48px; float:left; display:block; }

.post-author {
  figure {
    position: relative;
    padding: $base-line-height*2;
    border:2px solid $grey-lightest;
    @include clearfix;
    img {
      float:left;
      width:120px;
      height: 120px;
      top: calc((100% - 120px)/2);
      //@media (max-width: 992px)
      @include media-breakpoint-down(md) {
        width:60px;
        height: 60px;
        clear: both;
        display: block;
        position: relative;
        top: 0;
        left: calc((100% - 60px)/2);
        right: 0;
        float: none;
      }
      position: absolute;
      left: $base-line-height*2;
      border-radius: 50%;
    }
    figcaption {
      padding-left:$base-line-height*2;
      text-align: left;
      margin-left: 120px;
      p { color: $grey-dark; }
      //@media (max-width: 992px)
      @include media-breakpoint-down(md) {
        margin-left: 0;
        text-align: left;
        padding-left: 0;
       }
      a:first-of-type {
        @extend .small;
        @extend .caps;
        float:left;
        font-family: $serviceFont;
      }
      .socials { float: right; }
    }
    .post-author-name { margin-top:0; }
    .post-author-title {
      background: $white;
      color: $black;
      border-bottom: 3px solid $black;
      @extend .small;
      @extend .bold;
      letter-spacing: 4px;
      padding: 0 $base-line-height;

      @include transform(rotate(-90deg) translate3d(-50%, -50%, 0));
      white-space: nowrap;
      position: absolute;
      left: -12px;
      top: 50%;
      -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
      -o-transform-origin: top left;
      transform-origin: top left;
    }
  }

}


section.post-related-articles {
    margin-top: 0;

    > header {
      @include clearfix();
      &.row {
        margin-top: $base-line-height;
        margin-bottom: 0;
      }
      .related-posts_title {
        text-transform: uppercase;
      }


      @at-root .related-posts_nav {
        margin-top: $base-line-height*4;
        .slider-control {
          width: 3em;
          height: 3em;
          line-height: 3em;
          padding: 0;
          border-width: 1px;
          &.disabled { color: $grey-lightest; background: transparent; border-color: transparent; }
        }
      }

    }

    .entry-meta {
      margin: 0;
    }

}







.pagination {
  text-align: center;
  ul {
    display: inline-block;
    vertical-align:
    middle;
    margin: 0
  }

  &.post-pagination {
    @extend .small;
  }

  .current { font-weight: 600;}

  .pag-list > * {
    margin: 0 5px;
  }
  .pag-list {
    margin: 0 -5px;
  }
}



.action-link {
  border-bottom-color: $grey-lightest;
  box-shadow: inset 0 -5px 0 $grey-lightest;
  font-family: $serviceFont;
  @extend .bold;
  @extend .caps;
  color: $grey-mid-light;
  @extend .letter-spacing-2;
  &:hover { color: $grey; }
  span:last-of-type {
    display: none;
    border-bottom: none;
    box-shadow: 0;
  }
  span:first-of-type {
    display: inline-block;
  }
  .open & {
    span:last-of-type {
      display: inline-block;
    }
    span:first-of-type {
      display: none;
    }
  }
}










/* Comments */
.post-comments {
  .tabs a { font-size: ms(1); }
}
.comment-section {
  .col-avatar {
    @if ( true == $is_rtl ) {
      float: right;
    }
    @else {
      float: left;
    }
    width: 10%;
  }
  .col-avatar [class*=avatar-] {
    max-width: 100%;
    height: auto;
  }
  @at-root .comment-body {
    display: block;
    @if ( true == $is_rtl ) {
      padding-right: 12%;
    }
    @else {
      padding-left: 12%;
    }
    width: 100%
  }
  @at-root .comment-content {
    font-size: 1.15em;
    color: $post-entry;
    //p { color: $grey-dark }
  }
  @at-root .comment-meta {
    @at-root .comment-author {
      display: inline-block;
      a {
        color: $black;
        @extend .semi-bold;
        @include underlined_nocolor( 2px);
      }
    }
    time {
      @if ( true == $is_rtl ) {
        float: left;
      }
      @else {
        float: right;
      }
      @extend .small;
      @extend .service-font;
      span { color: $grey }
    }
  }
  @at-root .comment-link {
    color: $black;
    @extend .semi-bold;
    @include underlined_nocolor( 2px );
  }
  @at-root .comment-reply-link { @extend .action-link }
  @at-root .comment-edit-btn {
    padding:0.25em 0.67em 0.25em 0.67em
  }
}

.comment-form-comment textarea {
  height: 116px;
}


@include media-breakpoint-up(lg) {
  .comment-form-author, .comment-form-email, .comment-form-url {
    width: calc((100% - 2.5em - 12px)/3);
    display: inline-block;
    margin-left: 1.25em;
  }
  .comment-form-author {
    margin-left: 0;
  }
}
#cancel-comment-reply-link {
  float:right;
  @extend .small;
  @extend .caps;
  font-family:  $serviceFont;
  @extend .bold;
}
.comment-respond {
  background: $grey-lightest;
  padding: $base-line-height*2;
  margin-top: $base-line-height*4;
  .comment-notes, .logged-in-as { @extend .small }
}


.comment-list li.comment { margin-top:$base-line-height*2; padding-top:$base-line-height*2; border-top:1px solid $grey-light; }
.comment-list li.comment.depth-1:first-of-type { border:0; margin-top: 0 }
.comment-list ul.children    { margin-left: calc(3em + #{$base-line-height});   }
.pingback-list li.pingback {
  margin-top:$base-line-height; padding-top:$base-line-height;
  border-top: 1px solid $grey-lightest;

  &:first-of-type { border: none; margin-top: 0 }

  .excerpt {
    border-bottom: 1px solid;
    @extend .bold;
  }

  sup {
    font-family: $serviceFont;
    @extend .bold;
    @extend .letter-spacing-2;
    color: $grey;
    top: -$base-line-height;

  }
  a {
    color: $black;
    margin-bottom: 0
  }
}
//@media (max-width: 768px)
@include media-breakpoint-down(sm) {
  .comment-list ul.children { margin-left: $base-line-height;  }
  .comment-author, time.comment-date { width: 100% }
}

/* end comments */






section.post-content { margin-top:0; }

.wp-caption-text {
  @extend .small;
  color: $grey;
  @if ( true == $is_rtl ) {
    text-align: right;
  }
  @else {
    text-align: left;
  }
  margin: $base-line-height 0;
  padding: 0;
  &::before {
    content: '';
    border-top: 2px solid $black;
    width: 4em;
    max-width: 40%;
    display: block;
    margin-bottom: 4px
  }
}


[class*=czr__r-w].video-container iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hide-all-post-navigation,
.hide-post-navigation,
.hide-all-post-metas .entry-meta,
.hide-post-metas .entry-meta {
  display: none;
}

.post-info a {
  &:not(.btn) {
    color: $grey;
    span::after, span::before {
      background-color: $black;
    }
  }
}