.tc-content-inner { max-width: 100% }

// Regular headings
%content-header-entry-title {
  word-wrap: break-word;
  margin-top: 0em;
}
.archive-header .archive-title,
.entry-header .entry-title {
  @extend %content-header-entry-title;
}
.archive-header .header-bottom,
.entry-header .header-bottom {
  @extend .service-font;
  color: $grey;
  position: relative;
  margin: 0 0 2em 0;
  a {
      @extend .semi-bold;
  }
}

.entry-header .tax__container, .entry-header .post-info {
  @extend .small;
}

.archive-header {
  .header-bottom {
    margin-bottom: -1em;
  }
  .featurette-divider {
    margin-top: 1.8*$base-line-height;
  }
  .author-bio p:last-child{
    margin-bottom: 0;
  }
}

.archive-header-description {
  margin: $base-line-height 0;
  padding-top: $base-line-height;
  padding-bottom: $base-line-height;
  border-top: 1px solid $grey-lightest;
  border-bottom: 1px solid $grey-lightest;
}

//singular not full-width thumbnail vertical spacing depending on the location
//see #1127
//only margin-bottom if the thumb is shown before the title (and metas)
.tc-singular-thumbnail-wrapper.__before_regular_heading_title {
  margin-bottom: ms(-1); //in our ms configuration is: 0.83333em
}

//same margin top and bottom if the thumb is shown after the title (and metas)
//n.b. remember that not floating block element's margins merges
.tc-singular-thumbnail-wrapper.__after_regular_heading_title {
  margin: ms(-1) 0; //in our ms configuration is: 0.83333em 0
}
/* end regular headings */






article .entry-content {
  font-size: 1.2em;
  // line-height has the same value as ul li and ol li and body. see @https://github.com/presscustomizr/customizr/issues/1761
  line-height: 1.55em;
  color:$post-entry;
  a {
    text-decoration: underline;
  }
  // Nov 2020 => new option to opt-out underline on links within content
  @at-root .tc-link-not-underlined article .entry-content a {text-decoration: none;}
  a.btn, a.button, a.remove {
    text-decoration: none;
  }
}




.page__header {
  text-align: center;
  min-height: 300px;
  .tax__container {
    position: relative;
    &::after {
      @include media-breakpoint-up(md) {
        content: "";
        position: absolute;
        width: $base-line-height*3;
        height: 3px;
        bottom: -1 * $base-line-height;
        margin:0 auto;
        left: 0;
        right:0;
      }
    }
    a {
      letter-spacing: 3px;
    }
  }
  &.image__header {
    height: calc(  100vh * ( 2 / 3 ) );
  }
  &.plain {
    height: calc( 100vh / 3 );
    background: $grey-lightest;
    .category-info { padding-top:$base-line-height*2; }
  }
  .header-content-inner {
    line-height: normal;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 0 15px;
    @include transform( translate( -50%, -50% ) );
    position: absolute;
  }
  .header-content {
    position: relative;
    z-index:5;
    height: 100%;
    @include media-breakpoint-down(xs) {
      width: 100%;
    }
    .header-content-bottom {
      margin-top: $base-line-height*2;
      width:100%;
      text-align: center;
      div {
        display: inline-block;
        &::after {
            content: '|';
            margin: 0 0.625em;
        }
        &:last-of-type::after {
            content: none;
        }
      }
    }
    .post-info {
      @extend .small;
      font-family: $serviceFont;
      @extend .letter-spacing-1;
      @extend .semi-bold;
    }
    .archive-meta {
      display: block;
      p { margin-bottom: 0 }
    }
  }
  .entry-title, .archive-title {
    margin: 0;
    @include text-truncate();
  }
  .btn-edit {
    margin-bottom: 0;
    margin-top: 1em;
  }
  .entry-meta + .entry-title {
    margin-top: $base-line-height;
  }
}
.page-breadcrumbs {
  margin-top: 2em;
  margin-bottom: 2em;
  @extend .demi-small;
}


.post-content {
  color: $black;
}
section[class^="post-"] {
  margin: 2em 0 2em 0;
  .row { margin-top: $base-line-height; margin-bottom: $base-line-height*2 }
  .entry-meta { margin: 2em -15px }
}



//  Gutenberg
// video and audio elements
.alignfull,
.alignwide {
    &.wp-block-audio audio,
    &.wp-block-video video {
        width: 100%;
    }
}

//
// Real alignfull and alignwide
// allowed only in layouts with no sidebars and full-width
// in single and singular, as our only post list grid articles showing the full content
// look like cards (meaning that they're boxed with borders) and would make no sense there.
.page, .single {
    &.czr-no-sidebar {
        // alignwide and alignfull in boxed layouts
        // only reset the .container[role=main] horizontal padding
        //  The "cover image" block of the new WP editor has been renamed "cover".
        //  See https://github.com/WordPress/gutenberg/pull/10659, but posts created with the former cover-image block will still use the wp-block-cover-image css class.
        .entry-content [class*=wp-block-] {
            &.alignfull,
            &.alignwide {
                margin-right: -15px;
                margin-left: -15px;
                clear: both;
                width: auto;
            }
        }
        &.czr-boxed-layout .entry-content [class*=wp-block-] {
            @include media-breakpoint-up(sm) {
                &.alignfull,
                &.alignwide {
                    margin-right: -30px;
                    margin-left: -30px;
                    max-width: 100vw;
                    min-width: 100%;
                }
            }
        }
    }

    &.czr-full-layout.czr-no-sidebar {
        #tc-page-wrap {
            overflow-x: hidden;
        }
        // alignfull
        //  The "cover image" block of the new WP editor has been renamed "cover".
        //  See https://github.com/WordPress/gutenberg/pull/10659, but posts created with the former cover-image block will still use the wp-block-cover-image css class.
        .entry-content .alignfull[class*=wp-block-] {
            width: 100vw;
            max-width: 100vw;
            position: relative;
            margin-left: 0;
            margin-right: 0;
            &:not(.has-parallax) {
                @if ( true == $is_rtl ) {
                    right: 50%;
                    @include transform( translateX(50%) );
                }
                @else {
                    left: 50%;
                    @include transform( translateX(-50%) );
                }
            }
            &.has-parallax:not(.czr-alignfull-p) {
                width: 100%;
            }
        }
    }
}




.post-section-title {
  @extend .caps;
  @extend .small;
  @extend .letter-spacing-2;
    position: relative;
    text-align:center;
    margin:0 auto;
    margin-top: $base-line-height;
    margin-bottom: $base-line-height*2;
    span {
     display: inline-block;
       position: relative;

    }
    span::before, span::after {
      content: "";
      position: absolute;
      height: 10px;
      border-bottom: 2px solid $grey-lightest;
       top: 0;
      width: 1000%;
    }
    span:before {
      right: 100%;
      margin-right: $base-line-height;
  }
  span:after {
      left: 100%;
      margin-left: $base-line-height;
  }
}



.post-navigation {
  background-color: $grey-lightest;
  nav {
    padding-top: $base-line-height;
    padding-bottom: $base-line-height;
  }
  li {
    display: inline-block;
  }
  .czr_pager > li {
    display: block;
  }
  .nav-dir {
    display: block;
    > a {
      max-width: 100%;
    }
  }
  a i.arrow {
    font-size: 0.9em;
  }
  .page-numbers, a {
    font-family: $serviceFont;
    line-height: $base-line-height*3;
    height: $base-line-height*3;
    display: inline-block;
    vertical-align: middle;
    @include transition(all, .3s ease);
    position: relative;
    @extend .demi-small;
    @extend .caps;
    @extend .letter-spacing-2;
  }
  .page-numbers {
    font-family: inherit;
  }
  //.post-prev a {
  //  left: $base-line-height;
  //}
  //.post-next a {
  //  right: $base-line-height;
  //}
  .meta-nav {
    @extend .display-flex;
    @include transition(all, 0.6s ease);
    @include opacity(0.5);
  }
  a:hover {
    .meta-nav {
      @include opacity(1);
    }
  }
  .meta-nav-title {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 0.9em;
  }
}






.col-avatar-80   { width: 80px; float:left; display:block; }
.col-avatar-64   { width: 64px; float:left; display:block; }
.col-avatar-48   { width: 48px; float:left; display:block; }

.post-author {
  .post-author__wrapper {
    position: relative;
    border:2px solid $grey-lightest;
    @include clearfix;
    padding: 0 $base-line-height*2;

    .post-author-title {
      background: $white;
      color: $black;
      border-bottom: 3px solid $black;
      @extend .small;
      @extend .bold;
      letter-spacing: 4px;
      padding: 0 $base-line-height;
      white-space: nowrap;
      position: absolute;
      margin: 0;
      top: 0;
      @if ( true == $is_rtl ) {
        right: 50%;
        @include transform(translate(50%, -100%));
      }
      @else {
        left: 50%;
        @include transform(translate(-50%, -100%));
      }

      @include media-breakpoint-up(sm) {
        top: 50%;
        @if ( true == $is_rtl ) {
          right: -12px;
          @include transform(rotate(90deg) translate(50%, -50%));
          @include transform-origin(top right);
        }
        @else {
          left: -12px;
          @include transform(rotate(-90deg) translate(-50%, -50%));
          @include transform-origin(top left);
        }
      }
    }

    @at-root .post-author__wrapper figure {
      @include clearfix;
      position: relative;
      margin: 0;
      padding: 2.5em 0;
      img {
        @if ( true == $is_rtl ) {
          right: 0;
        }
        @else {
          left: 0;
        }
        position: absolute;
        border-radius: 50%;
        width:120px;
        height: 120px;
        top: calc((100% - 120px)/2);
        //@media (max-width: 992px)
        @include media-breakpoint-down(md) {
          width:60px;
          height: 60px;
          display: block;
          position: relative;
          top: 0;
          @if ( true == $is_rtl ) {
            right: calc((100% - 60px)/2);
          }
          @else {
            left: calc((100% - 60px)/2);
          }
        }
      }
      figcaption {
        @if ( true == $is_rtl ) {
          padding-right:$base-line-height*2;
          text-align: right;
          margin-right: 120px;
        }
        @else {
          padding-left:$base-line-height*2;
          text-align: left;
          margin-left: 120px;
        }
        .post-author-description {
          color: $grey-dark;
        }
        //@media (max-width: 992px)
        @include media-breakpoint-down(md) {
          @if ( true == $is_rtl ) {
            margin-right: 0;
            text-align: right;
            padding-right: 0;
          }
          @else {
            margin-left: 0;
            text-align: left;
            padding-left: 0;
          }
         }
        .action-link {
          @extend .small;
          @extend .caps;
          font-family: $serviceFont;
          @if ( true == $is_rtl ) {
            float:right;
          }
          @else {
            float:left;
          }
        }
        .socials {
          @if ( true == $is_rtl ) {
            float:left;
          }
          @else {
            float:right;
          }
        }
      }
      .post-author-name { margin-top:0; }
      + figure {
        border-top: 1px solid $grey-lightest;
        margin-top: -1 * $base-line-height;
        padding-top: $base-line-height;
        @include media-breakpoint-up(sm) {
          margin-top: 0;
          padding: 2.5em 0;
        }
      }
    }
  }
}


section.post-related-articles {
    margin-top: 0;

    > header {
      @include clearfix();
      &.row {
        margin-top: $base-line-height;
        margin-bottom: 0;
      }
      .related-posts_title {
        text-transform: uppercase;
        font-size: 1.35rem;
        font-weight: normal;
      }


      @at-root .related-posts_nav {
        margin-top: $base-line-height*4;
        .slider-control {
          font-family: Helvetica;
          width: 3em;
          height: 3em;
          line-height: 3em;
          padding: 0;
          border-width: 1px;
          &.disabled { color: $grey-lightest; background: transparent; border-color: transparent; }
        }
      }

    }

    .entry-meta {
      margin: 0;
    }
    //adapt the post-title font-size when the related posts are inside the #content wrapper
    //@see option tc_single_related_posts_block_location
    @include media-breakpoint-down(md) {
      .col-md-6 & {
        .entry-title {
            font-size: 2em;
        }
      }
    }
    //@media (min-width: 992px)
    @include media-breakpoint-up(lg) {
      .col-md-6 & {
        .grid-container__square-mini .czr-related-post {
          padding: 5px;
        }
      }
      .col-md-6 & {
        .grid__item {
          -ms-flex-wrap: wrap !important;
          flex-wrap: wrap !important;

        }
      }
      .col-md-6 & {
        .grid__item section {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
}//section.post-related-articles



.pagination {
  text-align: center;
  ul {
    display: inline-block;
    vertical-align:
    middle;
    margin: 0
  }

  &.post-pagination {
    @extend .small;
  }

  .current { font-weight: 600;}

  .pag-list > * {
    margin: 0 5px;
  }
  .pag-list {
    margin: 0 -5px;
  }
}



.action-link {
  border-bottom-color: $grey-lightest;
  box-shadow: inset 0 -5px 0 $grey-lightest;
  font-family: $serviceFont;
  @extend .bold;
  @extend .caps;
  color: $grey-mid-light;
  @extend .letter-spacing-2;
  &:hover { color: $grey; }
  span:last-of-type {
    display: none;
    border-bottom: none;
    box-shadow:0px;
  }
  span:first-of-type {
    display: inline-block;
  }
  .open & {
    span:last-of-type {
      display: inline-block;
    }
    span:first-of-type {
      display: none;
    }
  }
}










/* Comments */
.post-comments {
  .tabs a { font-size: ms(1); }
}
.comment-section {
  .col-avatar {
    @if ( true == $is_rtl ) {
      float: right;
    }
    @else {
      float: left;
    }
    width: 10%;
  }
  .col-avatar [class*=avatar-] {
    max-width: 100%;
    height: auto;
  }
  @at-root .comment-body {
    display: block;
    @if ( true == $is_rtl ) {
      padding-right: 12%;
    }
    @else {
      padding-left: 12%;
    }
    width: 100%
  }
  @at-root .comment-content {
    font-size: 1.15em;
    color: $post-entry;
    //p { color: $grey-dark }
    a {
      // nov 2020 for https://github.com/presscustomizr/customizr/issues/1869
      text-decoration: underline;
    }
  }
  @at-root .tc-link-not-underlined .comment-content {
    a {text-decoration: none;}
  }

  @at-root .comment-meta {
    @at-root .comment-author {
      display: inline-block;
      a {
        color: $black;
        @extend .semi-bold;
      }
    }
    time {
      @if ( true == $is_rtl ) {
        float: left;
      }
      @else {
        float: right;
      }
      @extend .small;
      @extend .service-font;
      span { color: $grey }
    }
  }
  @at-root .comment-link {
    color: $black;
    padding-bottom: 2px;
    @extend .semi-bold;
  }
  .czr-link-hover-underline {
    .comment-link,
    .comment-author {
      @include underlined_nocolor( 2px);
    }
  }
  @at-root .comment-reply-link { @extend .action-link }
  @at-root .comment-edit-btn {
    padding:0.25em 0.67em 0.25em 0.67em
  }
}

.comment-form-comment textarea {
  height: 116px;
}


@include media-breakpoint-up(lg) {
  .comment-form-author, .comment-form-email, .comment-form-url {
    width: calc((100% - 2.5em - 12px)/3);
    display: inline-block;
    margin-left: 1.25em;
  }
  .comment-form-author {
    margin-left: 0;
  }
}
#cancel-comment-reply-link {
  float:right;
  @extend .small;
  @extend .caps;
  font-family:  $serviceFont;
  @extend .bold;
}
.comment-respond {
  background: $grey-lightest;
  padding: $base-line-height*2;
  margin-top: $base-line-height*4;
  .comment-notes, .logged-in-as { @extend .small }
}


.comment-list li.comment { margin-top:$base-line-height*2; padding-top:$base-line-height*2; border-top:1px solid $grey-light; }
.comment-list li.comment.depth-1:first-of-type { border:0; margin-top: 0 }
.comment-list ul.children {
  @if ( true == $is_rtl ) {
    margin-right: calc(3em + #{$base-line-height});
  }
  @else {
    margin-left: calc(3em + #{$base-line-height});
  }
  //adapt the threaded comments margin when the comments block is inside the #content wrapper
  //@see option tc_single_related_posts_block_location
  .col-md-6 &,
  .col-md-9 & {
    @if ( true == $is_rtl ) {
      margin-right: calc(1.5em + #{$base-line-height});
    }
    @else {
      margin-left: calc(1.5em + #{$base-line-height});
    }
  }
}
//adapt the threaded comments font-size when the comments block is inside the #content wrapper
//@see option tc_single_related_posts_block_location
.comment-list .comment-content {
    .col-md-6 &,
    .col-md-9 & {
        font-size: 1em;
    }
}
.pingback-list li.pingback {
  margin-top:$base-line-height; padding-top:$base-line-height;
  border-top: 1px solid $grey-lightest;

  &:first-of-type { border: none; margin-top: 0 }

  .excerpt {
    border-bottom: 1px solid;
    @extend .bold;
  }

  sup {
    font-family: $serviceFont;
    @extend .bold;
    @extend .letter-spacing-2;
    color: $grey;
    top: -$base-line-height;

  }
  a {
    color: $black;
    margin-bottom: 0
  }
}
//@media (max-width: 768px)
@include media-breakpoint-down(sm) {
  .comment-list ul.children {
    @if ( true == $is_rtl ) {
      margin-right: $base-line-height;
    }
    @else {
      margin-left: $base-line-height;
    }
  }
  .comment-author, time.comment-date { width: 100% }
  .post-navigation {
    .czr_pager > li {
      display: block;
      // fixed [Post navigation][mobile] navigation words are cut out #1832
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

/* end comments */






section.post-content { margin-top:0; }

// adapt for Gutenberg
// @see https://github.com/presscustomizr/customizr/issues/1789
.wp-caption-text, .wp-block-image figcaption {
  @extend .small;
  color: $grey;
  @if ( true == $is_rtl ) {
    text-align: right;
  }
  @else {
    text-align: left;
  }
  margin: $base-line-height 0;
  padding: 0;
  &::before {
    content: '';
    border-top: 2px solid $black;
    width: 4em;
    max-width: 40%;
    display: block;
    margin-bottom: 4px
  }
}



[class*=czr__r-w].video-container iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hide-all-post-navigation,
.hide-post-navigation,
.hide-all-post-metas .entry-meta,
.hide-post-metas .entry-meta {
  display: none;
}

.post-info a {
  &:not(.btn) {
    color: $grey;
    span::after, span::before {
      background-color: $black;
    }
  }
  //lighter for entry-footer links like author, published, updated
  .entry-footer &:not(.btn) {
    color: $grey-mid-light;
  }
}
//attachment image
//navigation
.attachment-image-navigation {
  margin: 2em 0 1em;
  //align icon edges
  .icn-left-open-big:before {
    margin-left: -.2em;
  }
  .icn-right-open-big:before {
    margin-right: -.2em;
  }
}
//center the figure = image + caption
.attachment-image-figure {
  margin: auto;
  .entry-media__holder {
    display: inline-block;
  }
}
//in b4 stable col*auto max-width is set to none, we always want it to be set to 100%
.entry-footer [class*=col],
.tc-content-inner-wrapper .entry-meta .post-tags,
.tc-content-inner-wrapper .entry-meta .post-share,
.post-footer .col-sm-auto {
  max-width: 100%;
}
// to avoid issues with pugins printing floating elements after the content and before the post-footer
// where we display the tags, e.g. ultimate-social-media-icons
.post-footer.clearfix {
  clear: both;
}