li[id*="customize-control-"] {
  border: none;
  box-shadow: none;-webkit-box-shadow: none;
  padding: 0
}
.customize-control span.customize-control-title:first-child {
  padding-left: 0;
}

/* SELECT 2 SPECIFICS */
body .select2-dropdown {
  z-index: 998;
}
body .select2-container--open .select2-dropdown--below {
    border: 1px solid #008ec2;
}
body .select2-container--open .select2-dropdown--above {
    border-top: 1px solid #008ec2;
}

[id*=tc_theme_options-tc_skin] .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
}
body .select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 0;
}
body .select2-container .select2-selection--single {
  box-sizing: content-box;
}
.select2-results .tc-select2-skin-color {
  padding: 8px 0px;
}
body .select2-container-active .select2-choice, body .select2-container-active .select2-choices {
    border: 1px solid #008ec2;
}
body .select2-results {
  max-height: 360px
}
.tc-select2-skin-color {
  display: inline-block;
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.65);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.65);
  padding: 0;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  font-weight: bold;
  color: #FFF;
  -webkit-transition: box-shadow .25s ease;
  -moz-transition: box-shadow .25s ease;
  -ms-transition: box-shadow .25s ease;
  -o-transition: box-shadow .25s ease;
  transition: box-shadow .25s ease;
  /* vertical-align: middle; */
}
.select2-chosen .tc-select2-skin-color, .tc-select2-skin-color:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow:none;
  box-shadow: none;
}
/* FONTS */
.tc-select2-font {
  padding: 7px 7px 4px;
  line-height: 20px;
}
.select2-results .select2-highlighted .tc-select2-font{
  color: #555;
}

.select2-results__group {
  font-weight: 700;
  text-align: center;
  padding-top: 3px;
  line-height: 22px;
}

.tc-title-google-logo {
  display: block;
  float: left;
  position: relative;
  z-index: 100;
  padding: 2px 4px 0 14px;
  top: 10px;
}
.rtl .tc-title-google-logo {
  float: right;
  padding: 2px 18px 0 7px;
}
.tc-google-logo {
  position: relative;
  top: 6px;
}
/* Call to actions block */
.tc-grid-control-section {
  width: 100%;
  float: left;
  clear: both;
  margin-bottom: 8px;
}

.tc-grid-toggle-controls {
    font-size: 15px;
    text-transform: uppercase;
    clear: both;
    width: 100%;
    display: block;
    float: left;
    margin: 15px 0;
    cursor: pointer;
    color: #000;
}
.tc-grid-toggle-controls::before {
  content: "+";
  font-size: 18px;
  display: block;
  float: left;
  background: #000;
  padding: 5px;
  line-height: 11px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFF;
  margin-right: 5px;
  bottom: 2px;
  width: 12px;
  height: 12px;
  text-align: center;
  position: relative;
}

.tc-grid-toggle-controls.open::before {
  content: "-";
  line-height: 11px;
}

li[id*="customize-control-"].tc-grid-design {
  border-left: 2px dotted #008ec2;
  margin-left: 3%;
  padding-left: 3%;
  width: 93%;
  font-style: italic;
}
.customize-control .tc-navigate-to-post-list {
  color: #008ec2;
  font-weight: bold;
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 8px;
}

.tc-sub-control {
  padding-left: 13%;
  max-width: 87%;
  position: relative;
}

.tc-sub-control:before {
  content: "";
  height: 116%;
  background: #008ec2;
  width: 2%;
  position: absolute;
  left: 7%;
}
/* DONATE BLOCK*/
#czr-donate-customizer {
  background-color: #FFF;
  color: #666;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #EEE;
  margin: 0;
  padding: 4px 15px 4px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    left: 0;
    -webkit-transition: left ease-in-out .18s;
    transition: left ease-in-out .18s;
}
.wp-customizer #czr-donate-customizer h3 {
  font-size: 13px;
  margin-bottom: 1px;
  margin-top: 0px;
  width: 94%;
  font-weight: 600;
}
#czr-donate-customizer .czr-notice {
  padding-bottom: 4px;
}
#czr-donate-customizer p {
  margin: 0px;
}
#czr-donate-customizer .czr-donate-link {
  display: block;
  text-align: center;
}
#czr-donate-customizer .donate-alert {
  display: none;
  clear: both;
  background-color: #008ec2;
  border-color: 1px solid #D6E9C6;
  color: #FFF;
  padding: 10px;
  margin-top: 0px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#czr-donate-customizer .donate-alert p {
  font-size: 12px;
}
#czr-donate-customizer .donate-alert .button {
  padding: 0 9px 1px;
}

#czr-donate-customizer .czr-close-request{
  position: absolute;
  right: 8px;
  top: 4px;
  font-size: 14px;
  line-height: 19px;
  height: 21px;
  margin: 0;
  padding: 1px 6px 0;
  background-color: #008ec2;
  color: white;
  border: none;
  box-shadow: none;
}
.rtl #czr-donate-customizer .czr-close-request {
  left: 8px;
  right: inherit;
}
#czr-donate-customizer .donate-alert .czr-hide-donate, #czr-donate-customizer .donate-alert .czr-cancel-hide-donate {
  padding: 0 5px 1px;
}

.czr-cancel-hide-donate {
  float: right;
}

/* Call to actions block */
.czr-cta-wrap {
  background-color: #FFF;
  color: #666;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #EEE;
  margin: 0;
  padding: 4px 15px 4px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 0;
  -webkit-transition: left ease-in-out .18s;
  transition: left ease-in-out .18s;
}

.czr-in-control-cta-wrap {
  background-color: #8C8C8C;
  color: #fff;
  border-left: 0;
  border-right: 0;
  margin: 10px 0;
  padding: 10px 2%;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  clear: both;
  width: 96%;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.65);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.65);
}

.czr-in-control-cta-wrap .czr-notice {
  font-weight: bold;
  color: #fff;
}
.czr-in-control-cta-wrap .czr-notice-ext-icon {
  font-size: 17px;
  text-decoration: none;
}
.czr-in-control-cta-wrap .czr-notice-inline-link {
  color: #fff;
  text-decoration: underline!important;
}
.czr-cta .czr-cta-btn:hover {
  color: #fff;
  background: #ed9c28;
  border-color: #d58512;
}

.czr-cta .czr-cta-btn {
  font-size: 15px;
  font-weight: 500;
  margin-top: 2px;
  padding: 4px 14px;
  display: inline-block;
  color: #fff;
  background: #f0ad4e;
  border: 1px solid #eea236;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 24px;
}

.czr-cta .czr-cta-btn:active {
  -webkit-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* Maybe nove into common css */
/*
* Fix: wp 4.7 sticky section title and footer actions z-index
*/
.expanded .wp-full-overlay-footer,
#customize-controls .customize-section-title.is-in-view.is-sticky {
  z-index: 10000001;
}

/* ROOT PANEL : SEPARATE MENUS, WIDGETS AND ADVANCED OPTIONS */
.control-panel-nav_menus > .accordion-section-title, .control-panel-widgets > .accordion-section-title {
  margin: 0 0 10px;
}