@include media-breakpoint-up(lg){
  [class*=logo_center] {
    .primary-navbar__wrapper {
      height: 100%;
      width: 100%;
      white-space: normal; /* overrides white-space: nowrap  in topnav.scss*/

      @at-root [class*=logo_center] .branding__container {
        width: 100%;
        text-align: center;
        clear: both;
        height: auto;
        left: 0;

        @at-root [class*=logo_center] .branding {
          padding-top: $base-line-height*3/2;
          padding-bottom: $base-line-height*3/2;
        }
      }//.branding__container

      @at-root [class*=logo_center] .primary-nav__container {
        text-align: center;
        padding: 0;
        width: 100%;
        display: table;
        white-space: normal  /* overrides white-space: nowrap  in topnav.scss*/;
        height: 70px;
        .primary-nav__nav {
          width: auto;
          display: inline-table !important;
          height: 100%;
          @at-root [class*=logo_center] .primary-nav__menu-wrapper {
            display: table-cell !important; /* overrides topnav.scss */
            vertical-align: middle;

            body:not(.sticky-enabled) & {
              padding: 0 !important;
              text-align: center;
            }

            .primary-nav__menu.regular {
              vertical-align: middle;
              display: inline-block;
              > li {
                height : 100%;
                float: left;

                > span > .caret__dropdown-toggler[data-toggle="czr-dropdown"],
                > span > a > span:not(.caret__dropdown-toggler) {
                  display: table-cell!important;
                  vertical-align: middle!important
                }
                &> a, &> span, &>span.caret__dropdown-toggler {
                  height: 100%;
                  display: table !important;
                  position: relative;
                  padding: 0;
                }
                &> span{
                  height: 100%;
                  /*display: table-row!important;*/
                  position: relative;
                  padding: 0;
                  > a {
                    display: table;
                    padding-top: 1em;
                    padding-bottom: 1em;
                    vertical-align: middle;
                  }
                }
              }//>li
            }//.primary-nav__menu.regular

          }

          .primary-nav__utils {

            body:not(.sticky-enabled) & {
              padding-left: 2*$base-line-height-root; /* balances what is in topnav.scss */
            }
            li:before,
            .socials:before {
              content: none;
            }


            display: table !important;
            height: 100%;
            white-space: nowrap !important;
            vertical-align: middle;

            .utils, .primary-nav__socials {
              position: relative;
              display : table-cell;
              float: none !important;
              height: 100%;
              vertical-align: middle;

              li {
                display:inline-table;
                vertical-align: middle;

                a {
                  display: table-cell;
                  vertical-align: middle;
                }
              }//li

              @at-root [class*=logo_center] .primary-nav__socials ul{
                display: inline-block !important;
                height: 100%;
                vertical-align: middle;
              }

            }//.utils, .primary-nav__socials

          }//.primary-nav__utils
        }//.primary-nav__nav

      }//.primary-nav__container

    }//.primary-navbar__wrapper


    /* sticky enabled */
    .sticky-enabled & {
      .primary-navbar__wrapper {
        display: table;
        min-height: 70px;
        height: 70px;
        width: 100%;
      }

      .primary-nav__container,
      .branding__container {
        width: auto;
        clear: none;
        text-align: left;
        display: table-cell !important;
        vertical-align: middle;
        min-height: 100%;
        height: 100%;
        white-space: nowrap;
        float: none !important;
      }
      .branding {
        padding: 0;
        /*img { max-height: 70px; } */
      }
      .primary-nav__menu-wrapper {
        width: 100%;
      }
      .primary-navbar__wrapper .primary-nav__nav {
          width: 100%;
          display: table !important;
          .primary-nav__menu-wrapper {
            vertical-align: middle;
            padding-left : $base-line-height*2!important;
            padding-right: $base-line-height*2!important;
          }
          .primary-nav__utils {
            display: table !important;
            .ie &{ display: table-cell !important; }
            height: 100%;
            white-space: nowrap !important;
            float: right;
            .utils, .primary-nav__socials {
              display: table-cell;
              float: none !important;
              height: 100%;
              vertical-align: middle;
              li {
                display: inline-table;
              }
            }
            vertical-align: middle;
            @at-root .sticky-enabled .branding__container .primary-nav__utils {
              display: none !important;
            }
            min-height: inherit;
            width: auto;
          }
      }
    }//end .sticky-enabled

  }//end .logo_center

}//end media query