[class*=logo_center] {
  /* nav with tables */
  @media (min-width: 992px) {
    .primary-navbar__wrapper {
      display: block;
      line-height: 0;
      height: auto;
      /*min-height: 70px;*/
      width: 100%;
      white-space: normal;
    }
    .branding {
      height: auto;
      line-height: 1;
      padding-top: $base-line-height*3/2;
      padding-bottom: $base-line-height*3/2;
      max-height: none;
      .navbar-logo { height: auto; }
    }
    .primary-nav__container .primary-nav__nav {
      width: auto;
      display: inline-table !important;
      text-align: initial !important;
      height: 100%;
      overflow: visible;
      line-height: 1;
      /*min-height: 70px;*/
    }
    .branding__container {
      display: block !important;
      float: left !important;
      width: 100%;
      text-align: center;
      clear: both;
      height: auto;
      max-height: none;
      line-height: 1;
      white-space: normal;
      left: 0;
    }
    .primary-nav__container {
      text-align: center;
      margin: 0 !important;
      padding-left: 0 !important;
      width: 100% !important;
      display: table !important;
      height: auto;
      padding-bottom: 0;
      padding-top: 0;
      white-space: normal;

    }
    .primary-nav__menu-wrapper {
      display: table-cell !important;
      width: auto;
      padding-right: 2.5em;
      margin: 0 !important;
      vertical-align: bottom;
      height: 100%;
      padding-bottom: 0;
      padding-top: 0;
      body:not(.sticky-enabled) & {
        text-align: center;
      }
      .primary-nav__menu.regular {
        vertical-align: middle;
        display: inline-block;
        > li {
          height : 100%;
          float: left;
          /*display: table;*/
          > span > .caret__dropdown-toggler,
          > span > a > span, i {
            display: table-cell!important;
            /*float: none!important;*/
            vertical-align: middle!important
          }
          &> a, &> span, &>span.caret__dropdown-toggler {
            height: 100%;
            display: table!important;
            position: relative;
            padding: 0;
          }
          &> span{
            height: 100%;
            position: relative;
            > a { display: table; padding: $base-line-height 0; vertical-align: middle; }
          }
        }
      }

    }
    .primary-nav__container .primary-nav__utils {
      display: table-cell !important;
      height: 100%;
      white-space: nowrap !important;
      vertical-align: middle;
      .utils, .primary-nav__socials {
        position: relative;
        display : inline-block;
        float: none !important;
        height: 100%;
        vertical-align: middle;
        li {
          display:inline-table;
          vertical-align: middle;
          /*float: left;*/
          a {
            display: table-cell;
            vertical-align: middle;
          }
        }
        body:not(.sticky-enabled) & .socials:before {
          content: none;
        }
      }
      body:not(.sticky-enabled) & li:before {
        content : none;
      }
    }

    .primary-nav__container .primary-nav__utils .primary-nav__socials ul{
      display: inline-block !important;
      height: 100%;
      vertical-align: middle;
    }







    /* sticky enabled */
    .sticky-enabled & {
      .primary-navbar__wrapper {
          display: table;
      }
      .primary-nav__container,
      .branding__container {
          clear: none;
          text-align: left;
          width: auto;
          display: table-cell !important;
          vertical-align: middle;
          height: 100%;
          white-space: nowrap;
          float: none !important;
      }
      .branding {
        padding: 0;
        img { max-height: 70px; }
      }
      .primary-navbar__wrapper .primary-nav__nav {
          width: 100%;
          display: table !important;
          .primary-nav__menu-wrapper {
            vertical-align: middle;
          }
      }
    }
  }

}