@include media-breakpoint-up(lg){
  [class*=logo_center] {
    .primary-navbar__wrapper {

      line-height: 0;
      height: 100%;
      width: 100%;
      white-space: normal; /* overrides white-space: nowrap  in topnav.scss*/

      @at-root [class*=logo_center] .branding__container {
        width: 100%;
        text-align: center;
        clear: both;
        height: auto;
        left: 0;

        @at-root [class*=logo_center] .branding {
          padding-top: $base-line-height*3/2;
          padding-bottom: $base-line-height*3/2;
        }
      }//.branding__container

      @at-root [class*=logo_center] .primary-nav__container {
        text-align: center;
        padding: 0;
        width: 100%;
        display: table;
        white-space: normal  /* overrides white-space: nowrap  in topnav.scss*/;

        .primary-nav__nav {
          width: auto;
          display: inline-table !important;
          height: 100%;
          line-height: 1;

          @at-root [class*=logo_center] .primary-nav__menu-wrapper {
            display: table-cell !important; /* overrides topnav.scss */
            vertical-align: middle;

            body:not(.sticky-enabled) & {
              padding: 0 !important;
              text-align: center;
            }

            .primary-nav__menu.regular {
              vertical-align: middle;
              display: inline-block;
              > li {
                height : 100%;
                float: left;
                /*display: table;*/


                > span > .caret__dropdown-toggler[data-toggle="czr-dropdown"],
                          > span > a > span:not(.caret__dropdown-toggler) {
                            display: table-cell!important;
                            //float: none!important;
                            vertical-align: middle!important
                          }
                          &> a, &> span, &>span.caret__dropdown-toggler {
                            height: 100%;
                            display: table!important;
                            position: relative;
                            padding: 0;
                          }
                          &> span{
                            height: 100%;
                            /*display: table-row!important;*/
                            position: relative;
                            padding: 0;
                            > a { display: table; padding-top: 1em; padding-bottom: 1em; vertical-align: middle; }
                          }

              }
            }

          }

          .primary-nav__utils {
            body:not(.sticky-enabled) & {
              padding-left: 2*$base-line-height-root; /* balances what is in topnav.scss */
              li:before,
              .socials:before {
                content: none;
              }
            }

            display: table-cell !important;
            height: 100%;
            white-space: nowrap !important;
            vertical-align: middle;

            .utils, .primary-nav__socials {
              position: relative;
              display : inline-block;
              float: none !important;
              height: 100%;
              vertical-align: middle;

              li {
                display:inline-table;
                vertical-align: middle;

                a {
                  display: table-cell;
                  vertical-align: middle;
                }
              }//li

              @at-root .primary-nav__socials ul{
                display: inline-block !important;
                height: 100%;
                vertical-align: middle;
              }

            }//.utils, .primary-nav__socials

          }//.primary-nav__utils
        }//.primary-nav__nav

      }//.primary-nav__container

    }//.primary-navbar__wrapper


    /* sticky enabled */
    .sticky-enabled & {
      .primary-navbar__wrapper {
        display: table;
        min-height: 70px;
        height: 70px;
      }
      .branding__container {
        width: auto
      }
      .primary-nav__utils {
        vertical-align: middle;
      }
      .primary-nav__container,
      .branding__container {
          clear: none;
          text-align: left;
          display: table-cell !important;
          vertical-align: middle;
          height: 100%;
          white-space: nowrap;
          float: none !important;
      }
      .branding {
        padding: 0;
        /*img { max-height: 70px; } */
      }
      .primary-navbar__wrapper .primary-nav__nav {
          width: 100%;
          display: table !important;
      }
    }//end .sticky-enabled

  }//end .logo_center

}//end media query