@include media-breakpoint-up(lg) {

  .primary-navbar__wrapper-new.row {
    /* ensure the navbar elements do not wrap in a new line */
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    .branding__container_new,
    .primary-nav__utils li,
    .primary-nav__wrapper_new,
    .primary-nav__menu-wrapper_new {

      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;

    }
    .primary-nav__wrapper_new {
        margin: 0 -15px;
    }

    .primary-nav__container_new {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
              flex-grow: 1;
      -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    }
    .primary-nav__menu-wrapper_new {
      width: 100%;
    }
    .primary-nav__nav {
      flex-shrink: 1; //ie (10 at least) doesn't consider this as default while it should

    }

  }

  body:not(.sticky-enabled) .logo_centered .primary-navbar__wrapper-new.row {


    flex-direction: column !important;

    .branding__container {
      max-width: 100%;
    }

    .primary-nav__container_new {
      flex-basis: auto;
      justify-content: center;
    }

  }

}