/* nav with tables */
@include media-breakpoint-up(lg) {
  [class*=sl-] {
    .navbar-brand-sitelogo .navbar-brand-tagline {
      display: none;
    }
    .primary-navbar__wrapper {
      display: table; /* block !important; /* table !important; */
      /*height: auto;*/
      line-height: 1;
      /*min-width: 100% !important;*/
      min-height: 70px;
      width: 100%;
      height: 100%;
    }
    .branding {
      height: auto;
      max-height: none;
      line-height: 1;
      /*.sticky-enabled & img { max-height: 70px }*/
    }
    .primary-nav__container .primary-nav__nav {
      width: 100%;
      display: table !important;
      text-align: initial !important;
      height: 100%;
      overflow: visible;
    }
    .branding__container {
      left: 0 !important;
      display: table-cell !important;
      float: none !important;
      vertical-align: middle;
      white-space: nowrap;
    }
    .primary-nav__container {
      margin: 0 !important;
      padding-left: 0 !important;
      width: 100% !important;
      display: table-cell !important;
      height: 100%;
      padding-bottom: 0;
      padding-top: 0;
      white-space: nowrap;
      vertical-align: middle;
    }
    .primary-nav__menu-wrapper {
      display: table-cell !important;
      width: 100% !important;
      padding-right: 2.5em;
      padding-left: 2.5em;
      margin: 0 !important;
      vertical-align: middle;
      height: 100%;
      padding-bottom: 0;
      padding-top: 0;
      white-space: nowrap;
      overflow: hidden;
      position: static !important; /* override */
      .primary-nav__menu.regular {
        vertical-align: middle;
        height: 100%;
        /*overflow: hidden;*/
        display: inline-block;
        > li {
          height : 100%;
          position: static;
          float: left;
         /* display: table; */
          > span > .caret__dropdown-toggler,
          > span > a > span, i {
            display: table-cell!important;
            float: none!important;
            vertical-align: middle!important
          }
          &> a, &> span, &>span.caret__dropdown-toggler {
            height: 100%;
            display: table!important;
            position: relative;
            padding: 0;
          }
          &> span{
            height: 100%;
            /*display: table-row!important;*/
            position: relative;
            padding: 0;
            > a { display: table-cell; height: 100%; vertical-align: middle; }
          }
        }
      }

    }
    .primary-nav__container .primary-nav__utils {
      display: table-cell !important;
      height: 100%;
      white-space: nowrap !important;
      .utils, .primary-nav__socials {
        position: relative;
        display : inline-block;
        float: none !important;
        height: 100%;
        vertical-align: middle;
        li {
          display:inline-table;
          vertical-align: middle;
          /*float: left;*/
          a {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
    }
    .primary-nav__container .primary-nav__utils .primary-nav__socials ul{
      display: inline-block !important;
      height: 100%;
      vertical-align: middle;
    }

    @at-root .sl-logo_right {
      .branding__container {
        text-align: right;
      }
      .primary-navbar__wrapper {
        direction: rtl;
      }
      .primary-nav__container .primary-nav__nav .primary-nav__menu-wrapper {
        direction: ltr;
      }
      .primary-nav__container .primary-nav__nav { text-align: left; }
      .primary-nav__container .primary-nav__utils { direction: rtl;}
      .primary-nav__container .primary-nav__utils * { direction: ltr; }



      .primary-nav__container .primary-nav__utils .primary-nav__socials .socials {
        padding-left: 0; padding-right: 1.25em; /* mirror */
        margin-left: 0;  margin-right: 1.25em;
      }

      .primary-nav__utils .nav.utils > li:first-of-type {
        position: relative;
      }

      .primary-nav__utils .utils li:before,
      .primary-nav__utils .primary-nav__socials .socials:before {
        left: auto;
        right: 0;
      }
    }//end .sl-logo_right

  }//end media-query

}//end .sl-*